<hr>
<div class="row">
    <div class="col-5">
        <label for="validationCustom01">Precio promedio *</label>
        <input type="text" id="averagePrice" class="form-control" name="averagePrice" min="0" step="1" placeholder="Price" required readonly>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <label for="validationCustom01">Divisa *</label>
        <select name="selectCurrency" class="form-select" aria-label="Default select example">
            {{>unity/unitOfMoney}}
        </select>
    </div>
</div>


    <div class="row">
        <div class="col">
            <label for="validationCustom01">Precio de venta*</label>
            <input type="text" id="price1" class="form-control"  name="price1" min="0" step="1" placeholder="Sale price" required oninput="calculate_input_price(1)" value="{{price_1}}">
        </div>
        <div class="col">
            <label for="validationCustom01">% Ganancia *</label>
            <input type="text" id="revenue1" class="form-control"  name="revenue1" min="0" step="1" placeholder="Revenue" required oninput="calculate_input_revenue(1)" value="{{revenue_1}}">
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-3">
            <button type="button" onclick="toggleDiv(1)" class="form-control">Añadir más precio <i class="fi-icon fi-sr-add"></i></button>
        </div>
    </div>
    <div class="row">
        <div id="div1" class="hidden">
            <div class="row">
                <div class="col">
                    <label for="validationCustom01">Segundo precio de venta</label>
                    <input type="text" id="price2" class="form-control"  name="price2" min="0" step="1" placeholder="Precio" oninput="calculate_input_price(2)" value="{{price_2}}">
                </div>
                <div class="col">
                    <label for="validationCustom01">% Ganancia</label>
                    <input type="text" id="revenue2" class="form-control"  name="revenue2" min="0" step="1" placeholder="% Ganancia" oninput="calculate_input_revenue(2)" value="{{revenue_2}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="validationCustom01">Tercer precio de venta</label>
                    <input type="text" id="price3" class="form-control"  name="price3" min="0" step="1" placeholder="precio" oninput="calculate_input_price(3)" value="{{price_3}}">
                </div>
                <div class="col">
                    <label for="validationCustom01">% Ganancia</label>
                    <input type="text" id="revenue3" class="form-control"  name="revenue3" min="0" step="1" placeholder="% Ganancia" oninput="calculate_input_revenue(3)" value="{{revenue_3}}">
                </div>
            </div>
        </div>
    </div>



<script>
    function calculate_input_price(input){
        const price=get_input_price(input)
        const revenue=get_input_revenue(input)
        calculate_revenue(price,revenue)
    }

    function calculate_input_revenue(input){
        const price=get_input_price(input)
        const revenue=get_input_revenue(input)
        calculate_price(price,revenue)
    }

    function get_input_price(input){
        var price = document.getElementById("price1");

        if (input==2){
            price = document.getElementById("price2");
        }
        else if (input==3){
            price = document.getElementById("price3");
        }

        return price;
    }

    function get_input_revenue(input){
        var revenue = document.getElementById("revenue1");

        if (input==2){
            revenue = document.getElementById("revenue2");
        }
        else if (input==3){
            revenue = document.getElementById("revenue3");
        }

        return revenue;
    }

    function calculate_price(price,revenue){
        //we will doing a rule of three for calculate the price 
        const total=get_price_total();
        const valueRevenue=revenue.value;
        const newPrice=(valueRevenue*total)/100;

        //update the input of the price 
        price.value=total+newPrice;
    }

    function calculate_revenue(price,revenue){
        //we will doing a rule of three for calculate the revenue 
        const total=get_price_total();
        const valuePrice=price.value;
        const newRevenue=(valuePrice*100)/total;

        //update the input of the revenue 
        revenue.value=newRevenue-100;
    }

    function get_price_total(){
        const total = document.getElementById("total");
        return parseFloat(total.textContent);
    }

    //this scripts is for update all the price 
    calculate_input_revenue(1)
    calculate_input_revenue(2)
    calculate_input_revenue(3)
</script>