<link rel="stylesheet" href="/css/manager/supplies_products.css">
<table class="table table-hover" id="table-supplies">
  <thead>
    <tr>
      <th></th>
      <th>Codigo de Barras</th>
      <th>Nombre</th>
      <th>Monto de venta/Precio de Venta</th>
      <th>Cant.</th>
      <th>$ Total</th>
      <th>Adicional</th>
    </tr>
  </thead>
  <tbody>
    {{#each suppliesCombo}}
        <tr additional='{{additional}}'>
            {{#if img}}
              <td><img src="{{img}}" alt="" class="img-s-p"></td>
            {{else}}
              <td><img src="https://cdn-icons-png.flaticon.com/512/2909/2909753.png" alt="" class="img-s-p"></td>
            {{/if}}
            <td>{{product_barcode}}</td>
            <td>{{product_name}}</td>
            <td amount_sale="1" unity_sale="unity" sale_price="{{sale_price}}" currency="{{currency}}" amount="{{amount}}" unity="{{unity}}">1 {{unity}}/ {{sale_price}}({{currency}})$</td>
            <td>{{amount}}/{{unity}}</td>
            <td price="0">0$</td>
            <td>
              {{#if additional}}
                <i class="fi-icon fi-sr-circle-xmark"></i>
              {{else}}
                <i class="fi-icon fi-sr-check-circle"></i>
              {{/if}}
            </td>
        </tr>
    {{/each}}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><label>Precio recomendado</label></td>
        <td id="total">0$</td>
    </tr>
  </tbody>
</table>



<script>
  function sum_all_supplies(){
    var table = document.getElementById("table-supplies");
    var rows = table.getElementsByTagName("tr");
    var totalPrice = 0;

    for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cells = row.getElementsByTagName("td");

        //we will watch if can add this products. If the products no is addition
        //we not can add becaus is it that the customer can add after
        var additional=row.getAttribute("additional");
        console.log(additional)
        if(additional=='false'){ //if the product not is additional, we add the price the total
        console.log('additional')
          for (var j = 0; j < cells.length; j++) {
              var cell = cells[j];
                var price = cell.getAttribute("price"); //get the price of the product 

                if (price !== null && !isNaN(parseFloat(price))) {
                    totalPrice += parseFloat(price);
                }
          }
        }
    }

    return totalPrice;
  }

  function update_price_combo(){
    var priceCombo=sum_all_supplies();
    var totalCell = document.getElementById("total");
    var total=priceCombo.toFixed(2) + "/MXN$";
    totalCell.textContent = total;

    var labelAveragePrice = document.getElementById("averagePrice");
    labelAveragePrice.value = total;
  }


  function update_total_supplies(){
    //get the id and the rows of the table 
    var table = document.getElementById("table-supplies");
    var rows = table.getElementsByTagName("tr");

    //read all the table 
    for (var i = 0; i < rows.length; i++) {
        //get the row of the table and his cells for read next 
        var row = rows[i];
        var cells = row.getElementsByTagName("td");
        var total=0;
        var currency="MXN"
        //we will reading all the cells of the row
        for (var j = 0; j < cells.length; j++) {
            //get the cell and his values 
            var cell = cells[j];
            var amountSale=parseFloat(cell.getAttribute("amount_sale"));
            var unitySale=cell.getAttribute("unity_sale");
            
            var salePrice=parseFloat(cell.getAttribute("sale_price"));

            var amount = parseFloat(cell.getAttribute("amount"));
            var unity = cell.getAttribute("unity");

            //get the cell of the price total for update with the sum 
            var price=cell.getAttribute("price");

            //we will watching that unity sale have this supplies
            if(unitySale=='unity'){
              currency=cell.getAttribute("currency");
              total=(amount*salePrice)/amountSale;
              cell.setAttribute("price", total);             
            }
            else{
              //we will get
            }
          

            if(j==cells.length-2){
              cell.textContent = total +" "+currency+"$";
            }
        }
    }
  }


  update_total_supplies();
  update_price_combo();
</script>
