<head>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel="stylesheet" href="/css/addUser/addUser.css">
    <link rel="stylesheet" href="/css/report/report.css">
    <link rel="stylesheet" href="/css/report/sales.css">
</head>

<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <label><i class="fi-icon fi-sr-user"></i> Agregar un nuevo cliente</label>
                    <hr>
                    {{#each company}}
                    <form action="/fud/{{id}}/addCustomer" method="POST" id="myForm">
                    {{/each}}
                    {{#each branchFree}}
                    <form action="/fud/{{id_companies}}/{{id}}/addCustomer" method="POST" id="myForm">
                    {{/each}}
                    {{#each branch}}
                    <form action="/fud/{{id_companies}}/{{id}}/addCustomer" method="POST" id="myForm">
                    {{/each}}
                        <div class="content_box">
                            <div class="content-sales active">
                                <div class="row">
                                    <div class="col">
                                        <label>Primer nombre *</label><br>
                                        <input type="text" class="form-control" placeholder="Primer nombre" name="firstName" required>
                                    </div>
                                    <div class="col">
                                        <label>Segundo nombre</label><br>
                                        <input type="text" class="form-control" placeholder="Segundo nombre" name="secondName">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Apellido</label><br>
                                        <input type="text" class="form-control" name="lastName" placeholder="Apellido">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label>Fecha de nacimiento *</label><br>
                                        <input type="date" id="birthday" name="birthday">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col">
                                        <label>Teléfono celular</label><br>
                                        <input type="text" class="form-control" placeholder="Teléfono celular" name="cellPhone">
                                    </div>
                                    <div class="col">
                                        <label>Teléfono</label><br>
                                        <input type="text" class="form-control" placeholder="Teléfono" name="phone">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Correo electrónico *</label><br>
                                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>País</label>
                                        <select class="form-control" name="country">
                                            {{#each country}}
                                                <option value={{id}}>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label>Estado *</label><br>
                                        <input type="text" class="form-control" name="states" placeholder="Estado" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label>Ciudad *</label><br>
                                        <input type="text" class="form-control" name="city" placeholder="Ciudad" required>
                                    </div>
                                    <div class="col">
                                        <label>Calle *</label><br>
                                        <input type="text" class="form-control" name="street" placeholder="Calle" maxlength="20" required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <label>Número exterior</label><br>
                                        <input type="text" class="form-control" name="num_o" placeholder="Número exterior" maxlength="5">
                                    </div>
                                    <div class="col">
                                        <label>Número interior</label><br>
                                        <input type="text" class="form-control" name="num_i" placeholder="Número interior" maxlength="5">
                                    </div>
                                    <div class="col">
                                        <label>Código postal</label><br>
                                        <input type="text" class="form-control" name="postal_code" placeholder="Código postal">
                                    </div>
                                </div>

                            </div>
                            <br>
                            
                            <div class="form-group">
                                <button class="btn btn-success btn-block" id="my-btn-from" type="submit">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
