<br>
<div class="container">
    <label for=""><i class="fi-icon fi-sr-credit-card"></i> Mis Suscripciónes</label>
    <!--we will watching if exist a subscription-->
    {{#if subscription}}
        <hr>
        <div class="row">
            <div class="col">
                <button class="btn btn-button" style="width: 240px;" onclick="nextWeb('prices')" style="font-size: 1rem;">Nueva suscripcion 🍽️</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="padding-left: 1rem;padding-right: 4rem;">
                    <label for="" id="numberSubscriptions">Numero de suscripciones: 1</label>
                </div>
            </div>
        </div>
        <br>
        <div class="card" style="padding-left: 4rem;padding-right: 4rem;">
            <br>
            <table class="table" id="{{id}}">
                <tr>
                    <th><label for="">id</label></th>
                    <th><label for="">pack</label></th>
                    <th><label for="">Estatus</label></th>
                    <th><label for="">Compañía</label></th>
                    <th><label for="">Sucursal</label></th>
                    <th></th>
                </tr>
                {{#each subscription}}
                    <tr>
                        <td>{{id}}</td>
                        <td>Fud/{{object}}</td>
                        <td>Active</td>
                        <td>{{company_name}}</td>
                        <td>{{branch_name}}</td>
                        <td>
                            <button class="btn btn-option" onclick="add_branch('{{id}}')"><i class="fi-department fi-sr-pencil"></i></button>
                            <button class="btn btn-danger" onclick="delete_subscription('{{id}}')"><i class="fi-department fi-sr-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
                <!--
                {{#each subscription}}
                    {{#each this}}
                        <tr>
                            <td>{{id}}</td>
                            <td>Fud/{{object}}</td>
                            <td>{{status}}</td>
                            <td>{{interval}}/{{currency}}</td>
                            <td></td>
                            <td>
                                <button class="btn btn-danger" onclick="delete_subscription('{{id}}')"><i class="fi-department fi-sr-trash"></i></button>
                            </td>
                        </tr>
                    {{/each}}
                {{/each}}
                -->
            </table>
        </div>
    {{else}}
    <hr>
        <div class="container">
            <center>
                <div class="section-title">
                    <h1 class="title-main-2">¿Todavia no tienes ninguna sucursal? </h1>
                    <span>Conoce nuestras ofertas y empieza a cocinar 🍳</span>
                    <br>
                    <img src="https://cdn-icons-png.flaticon.com/512/843/843260.png" alt="">
                    <p>
                        <button class="btn btn-button" style="width: 240px;" onclick="nextWeb('prices')" style="font-size: 1rem;">Add new subscription 🍽️</button>
                    </p>
                </div>
            </center>
        </div>
    {{/if}}
</div>

<script>
    window.onload = function() {
        // get the number of row of the table
        var rowCount = document.querySelectorAll('.table tr').length - 1; // We subtract 1 to exclude the header row

        // update the container of the label with id  "numberSubscriptions"
        document.getElementById('numberSubscriptions').textContent = "Numero de suscripciones: " + rowCount;
    };
</script>

<script>
    async function delete_subscription(idSubscription){
        if(await questionMessage('Eliminar suscripcion!! 😨','¿Estas seguro de cancelar esta suscripcion? Tu y tus empleados no podran acceder a esta sucursal si lo haces')){
            const idSubscriptionUser= await get_id_subscription(); //get the id of the subscription that the user would like delete

            //we will watching if the idSubscription is equal to the that the user would like delete 
            if(idSubscriptionUser==idSubscription){
                window.location.href = "/fud/"+idSubscription+"/delete-subscription";
            }else{
                //show a message of error 
                errorMessage('Error al comprobar la suscripcion 👁️','Este ID no es el mismo de la suscripcion que quieres cancerlar')
            }
        }
    }

    async function add_branch(idSubscription){
        const nameBranch=await get_name_branch();
        window.location.href = "/fud/"+idSubscription+"/"+nameBranch+"/link-subscription";
    }
</script>