<table class="table">
    <colgroup>
        <col style="width: 10%;">
        <col style="width: 70%;">
        <col style="width: 20%;"> <!--20-->
    </colgroup>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Ip impresora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each boxes}}
            <tr>
                <td>{{num_box}}</td>
                <td>{{ip_printer}}</td>
                <td>
                    <button onclick="edit_box('{{id}}','{{id_companies}}','{{id_branches}}','{{num_box}}','{{ip_printer}}')" class="btn btn-edit"><i class="fi-department fi-sr-pencil"></i></button>
                    <button onclick="delete_box('{{id}}','{{id_companies}}','{{id_branches}}')" class="btn btn-danger"><i class="fi-department fi-sr-trash"></i></button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>