<div class="col-md-4">
    <div class="card">
        {{>CEO/employee/browser}}
        <div class="card-body card-information" id="container-div">
            <!--this add all the employees-->
            {{#each employees}}
                <div class="card mb-4" onclick="select_employee('{{id_companies}}','{{id_users}}')" id="{{email}}">
                    <div class="card-body">
                        {{#if photo}}
                            <img class="img-info" src="{{photo}}">
                        {{else}}
                            <img class="img-info" src="https://cdn-icons-png.flaticon.com/512/2919/2919160.png">
                        {{/if}}
                        
                        <strong>{{first_name}} {{second_name}} {{last_name}}</strong>
                        <br>
                        <label>{{email}}</label>
                        <br>
                        <label>{{name_branch}}</label>
                        <label class="text-info-employee">{{name_role}}</label>
                        <label class="text-info-employee">{{name_departaments}}</label>
                        <br>
                        <label>{{name}}</label>
                        <!--
                        <button id="{{ID_usuario}}" onclick="nextWeb('{{id_companies}}/{{id_users}}/edit-employees')" class="btn-table-employee-edit"><i class="fi-department fi-sr-pencil"></i></button>
                        <button id="{{id_user}}" onclick="delete_employee('{{id_companies}}','{{id_users}}')" class="btn-table-employee-delete"><i class="fi-department fi-sr-trash"></i></button>
                        --->
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    function select_employee(idCompany,idUser){
        window.location.href = "/fud/"+idCompany+"/"+idUser+"/employees";
    }
</script>