{{#each customer}}
<div class="content-sales active">
    <div class="row">
        <div class="col">
            <label>Nombre *</label><br>
            <input type="text" class="form-control" placeholder="Nombre" name="firstName" required
                value="{{first_name}}">
        </div>
        <div class="col">
            <label>Segundo nombre</label><br>
            <input type="text" class="form-control" placeholder="Segundo nombre" name="secondName" value="{{second_name}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Apellido</label><br>
            <input type="tex" class="form-control" name="lastName" placeholder="Apellido" value="{{last_name}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Cumpleaños</label><br>
            <input type="date" id="birthday" name="birthday" value="{{birthday}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Celular</label><br>
            <input type="text" class="form-control" placeholder="Celular" name="cellPhone" value="{{cell_phone}}">
        </div>
        <div class="col">
            <label>Telefono</label><br>
            <input type="text" class="form-control" placeholder="Telefono" name="phone" value="{{phone}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Email *</label><br>
            <input type="email" class="form-control" name="email" placeholder="E-mail" required value="{{email}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Pais</label>
            <select id="country" class="form-control" name="country" value="{{id_country}}">
                {{/each}}
                {{#each country}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        {{#each customer}}
        <div class="col">
            <label>Estado *</label><br>
            <input type="tex" class="form-control" name="states" placeholder="Estado" required value="{{states}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>Ciudad *</label><br>
            <input type="tex" class="form-control" name="city" placeholder="Ciudad" required value="{{city}}">
        </div>
        <div class="col">
            <label>Calle *</label><br>
            <input type="tex" class="form-control" name="street" placeholder="Calle" maxlength="20" required
                value="{{street}}">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label>Num. Ext.</label><br>
            <input type="tex" class="form-control" name="num_o" placeholder="Numero exterior" maxlength="5"
                value="{{num_ext}}">
        </div>
        <div class="col">
            <label>Num. Int.</label><br>
            <input type="tex" class="form-control" name="num_i" placeholder="Numero Interior" maxlength="5"
                value="{{num_int}}">
        </div>
        <div class="col">
            <label>Codigo Postal</label><br>
            <input type="tex" class="form-control" name="postal_code" placeholder="Codigo Postal" value="{{postal_code}}">
        </div>
    </div>
</div>
{{/each}}