<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/report/report.css">
    </link>
    <link rel="stylesheet" href="/css/store/other.css">
</head>

<body>
    <div class="wrapper">
        <main>
            <div class="container bg-light rounded">
                {{#each company}}
                    <div class="h4 font-weight-bold text-center py-3">Home Company {{name}}</div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/company-supplies')" onmouseover="menu_hover_sound()">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="/img/icons/supplies.png"
                                            alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>supplies</b> <a href="/fud/{{id}}/company-supplies">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/company-products')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://i.pinimg.com/originals/1d/ed/36/1ded366c71429ea33389328d2d4619a6.png"
                                            alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Products</b> <a href="/fud/{{id}}/company-products">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-0 my-3">
                            <div class="box bg-white" onclick="nextWeb({{id}}+'/combos')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/6269/6269329.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Combos/Dishes</b> <a href="/fud/{{id}}/combos">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb({{id}}+'/providers')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/2293/2293644.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Providers</b> <a href="/fud/{{id}}/providers">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        --->
                        
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/food-department')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5323/5323820.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Food Section</b> <a href="/fud/{{id}}/food-department">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/food-category')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5323/5323820.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Food Category</b> <a href="/fud/{{id}}/food-category">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <!--
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-orange">
                                        <img src="https://cdn-icons-png.flaticon.com/512/3884/3884365.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>offers</b> <a href="report-global">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        -->

                        <!--
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                        <img src="https://cdn-icons-png.flaticon.com/512/594/594560.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Wallet</b> <a href="#">
                                            <p class="text-muted">edit, search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('report-global')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                        <img src="https://cdn-icons-png.flaticon.com/512/1808/1808899.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Credit notes</b> <a href="#">
                                            <p class="text-muted">search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        -->

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/employees')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pista">
                                        <img src="https://cdn-icons-png.flaticon.com/512/526/526190.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"><b>Employees</b> <a href="/fud/{{id}}/employees">
                                            <p class="text-muted">add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/employee-department')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pista">
                                        <img src="https://cdn-icons-png.flaticon.com/512/3985/3985090.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>User Section</b> <a href="/fud/{{id}}/employee-department">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/type-user')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pista">
                                        <img src="https://cdn-icons-png.flaticon.com/512/3985/3985090.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Types users</b> <a href="/fud/{{id}}/type-user">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/customers-company')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-pink">
                                        <img src="https://cdn-icons-png.flaticon.com/512/6633/6633170.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Customers</b> <a href="/fud/{{id}}/customers-company">
                                            <p class="text-muted">Add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/1/sales-company')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                        <img src="https://cdn-icons-png.flaticon.com/512/7298/7298311.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Sales</b> <a href="/fud/{{id}}/1/sales-company">
                                            <p class="text-muted">search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/reports')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                        <img src="https://cdn-icons-png.flaticon.com/512/5674/5674015.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Reports</b> <a href="/fud/{{id}}/reports">
                                            <p class="text-muted">search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        <!---
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('{{id}}/movements')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                        <img src="https://cdn-icons-png.flaticon.com/512/3176/3176101.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Movements</b> <a href="/fud/{{id}}/movements">
                                            <p class="text-muted">search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white"  id="{{id}}" onclick="nextWeb(this.id+'/Dashboard')">
                                <div class="d-flex align-items-center">
                                    <div
                                        class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-purple">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4072/4072698.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Utilities</b><a href="#">
                                            <p class="text-muted">search</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        -->

                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" id="{{id}}" onclick="nextWeb(this.id+'/branches')">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-green">
                                        <img src="https://cdn-icons-png.flaticon.com/512/4682/4682602.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Branches</b> <a href="/fud/{{id}}/branches">
                                            <p class="text-muted">add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-4 col-md-6 my-lg-3 my-3">
                            <div class="box bg-white" onclick="nextWeb('reservation')">
                                <div class="d-flex align-items-center">
                                    <div class="rounded-circle mx-3 d-flex align-items-center justify-content-center pale-green">
                                        <img src="https://cdn-icons-png.flaticon.com/512/3501/3501843.png" alt="">
                                    </div>
                                    <div class="d-flex flex-column"> <b>Reservations</b> <a href="#">
                                            <p class="text-muted">add, edit, search or delate</p>
                                        </a> </div>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                {{/each}}
            </div>
    </div>


    </main>
    </div>
    <script>
        function handleDivClick(id) {
            window.location.href = "/fud/"+id+"/company-home";
        }
    </script>
    <script src="/js/store/other.js"></script>
    <script src="/js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/report/company_report.js"></script>
</body>

</html>