<style>
    .card {
        border-radius: 12px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border: none;
    }

    .card-title {
        font-weight: bold;
    }

    .diferencia {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .bg-efectivo {
        background-color: #edf4fa;
    }

    .input-custom {
        font-size: 1.2rem;
        /* Tamaño de texto más grande */
        font-weight: bold;
        /* Hace que los números resalten */

        /* Centrar el texto */
        border: 2px solid #007bff;
        /* Borde azul */
        border-radius: 8px;
        /* Bordes redondeados */
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    .input-custom:focus {
        border-color: #0056b3;
        /* Borde más oscuro al enfocar */
        box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
        /* Efecto glow */
    }

    .input-group-text {
        font-size: 1.2rem;
        border-radius: 8px 0 0 8px;
    }
</style>


<div class="container mt-5">
    <h4 class="text-center mb-4">Corte de Caja</h4>
    <div class="row text-end">
        <p class="fw-bold mb-1">Calculado por el sistema:</p>
        <h5 class="text-primary" id="total-for-system">$1,200.00</h5>
        <p class="fw-bold mt-3 mb-1">Diferencia Total:</p>
        <h5 class="diferencia text-danger" id="total-for-user">$0.00</h5>
        <br>
        <div class="d-flex justify-content-end">
            <button class="btn btn-edit">Hacer Corte</button>
        </div>
    </div>
    <br>
    <div class="row">

        {{#each salesForMoney}}
        <div class="col">
            <!-- Tarjeta Efectivo -->
            <div class="card mb-3 bg-efectivo">
                <div class="card-body">
                    <h5 class="card-title">💵 Total Dinero</h5>

                    <div class="form-floating">
                        <input type="text" class="form-control money" id="money" name="name" placeholder="Efectivo"
                            required>
                        <label for="nombre">Efectivo contado *</label>
                    </div>

                    <hr>
                    <label class="fw-bold">Calculado por el sistema: ${{total_cash_sales}}</label><br>
                    <input type="hidden" value="{{total_cash_sales}}" id="total_cash_sales">
                    <label for="">Diferencia: $</label><label for="" id="cash-difference">0</label>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Tarjeta Tarjeta de Crédito -->
            <div class="card mb-3 bg-efectivo">
                <div class="card-body">
                    <h5 class="card-title">💳 Total Tarjeta de Crédito</h5>

                    <div class="form-floating">
                        <input type="text" class="form-control credit" id="credit" name="name" placeholder="Efectivo"
                            required>
                        <label for="nombre">Efectivo contado *</label>
                    </div>

                    <hr>
                    <label class="fw-bold">Calculado por el sistema: ${{total_credit_sales}}</label><br>
                    <input type="hidden" value="{{total_credit_sales}}" id="total_credit_sales">
                    <label for="">Diferencia: $</label><label for="" id="credit-difference">0</label>
                </div>
            </div>
        </div>

        <div class="col">
            <!-- Tarjeta Tarjeta de Débito -->
            <div class="card mb-3 bg-efectivo">
                <div class="card-body">
                    <h5 class="card-title">💳 Total Tarjeta de Débito</h5>

                    <div class="form-floating">
                        <input type="text" class="form-control debit" id="debit" name="name" placeholder="Debito"
                            required>
                        <label for="nombre">Efectivo contado *</label>
                    </div>

                    <hr>
                    <label class="fw-bold">Calculado por el sistema: ${{total_debit_sales}}</label><br>
                    <input type="hidden" value="{{total_debit_sales}}" id="total_debit_sales">
                    <label for="">Diferencia: $</label><label for="" id="debit-difference">0</label>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="ror">
        <div class="card">
            <div class="card-body">
                <div class="form-floating">
                    <textarea type="text" class="form-control" name="note" placeholder="Nota para el corte"></textarea>
                    <label for="nombre">Comentario</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Resumen -->
    <div class="card summary-card">
        <div class="card-body">
            <center>
                <h5 class="fw-bold">Resumen</h5>
            </center>

            <div class="container mt-4">
                <!-- Tabla de Movimientos en Caja -->
                <div class="row">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead class="table-primary ">
                                        <tr>
                                            <th>Dinero en Caja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Ventas</td>
                                            <td class="text-success" id="total-sales">0</td>
                                        </tr>
                                        {{#each moveUser}}
                                            <tr>
                                                <td>Entradas</td>
                                                <td class="text-success" id="total-entered">{{entries}}</td>
                                            </tr>
                                            <tr>
                                                <td>Salidas</td>
                                                <td class="text-danger" id="total-output">{{exits}}</td>
                                            </tr>
                                        {{/each}}
                                        <tr>
                                            <td>Devoluciones</td>
                                            <td class="text-danger" id="total-devolution">$0</td>
                                        </tr>
                                        <tr>
                                            <td><b>TOTAL:</b></td>
                                            <td class="text-primarity" id="total-money-in-box">$200</td>                 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead class="table-primary ">
                                        <tr>
                                            <th>Movimiento de caja</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Numero de Ventas</td>
                                            <td class="text-success">100</td>
                                        </tr>
                                        <tr>
                                            <td>Numero de devoluciones</td>
                                            <td class="text-danger">1</td>
                                        </tr>
                                        <tr>
                                            <td>Numero de Entradas</td>
                                            <td class="text-success">5</td>
                                        </tr>
                                        <tr>
                                            <td>Numero de Salidas</td>
                                            <td class="text-danger">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead class="table-primary ">
                                        <tr>
                                            <th>Movimiento Ventas</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each salesForMoney}}
                                            <tr>
                                                <td>Dinero Recibido</td>
                                                <td class="text-success" id="total-money-recibed">0</td>
                                            </tr>
                                            <tr>
                                                <td>Cambio a los Clientes</td>
                                                <td class="text-danger" id="total-change">-{{total_change_of_sale}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col">
                        <!-- Tabla de Entradas de Efectivo -->
                        <div class="card shadow-sm mt-4">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead class="table-success">
                                        <tr>
                                            <th>Entrada de Efectivo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each movePositive}}
                                            <tr>
                                                <td>{{comment}}</td>
                                                <td>${{move}}</td>
                                            </tr>
                                        {{/each}}
                                        {{#each moveUser}}
                                            <tr>
                                                <td><b>TOTAL: </b></td>
                                                <td class="text-success">${{entries}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <!-- Tabla de Salidas de Efectivo -->
                        <div class="card shadow-sm mt-4">
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead class="table-danger">
                                        <tr>
                                            <th>Salidas de Efectivo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each moveNegative}}
                                            <tr>
                                                <td>{{comment}}</td>
                                                <td>${{move}}</td>
                                            </tr>
                                        {{/each}}
                                        {{#each moveUser}}
                                            <tr>
                                                <td><b>TOTAL: </b></td>
                                                <td class="text-danger">${{exits}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>
<br><br><br>

<script>
    const total_cash_sales = parseFloat(document.getElementById('total_cash_sales').value) || 0;
    const total_credit_sales = parseFloat(document.getElementById('total_credit_sales').value) || 0;
    const total_debit_sales = parseFloat(document.getElementById('total_debit_sales').value) || 0;
    
    const totalEntered=parseFloat(document.getElementById('total-entered').textContent) || 0;
    const totalOutput=parseFloat(document.getElementById('total-output').textContent) || 0;
    const totalDevolution=parseFloat(document.getElementById('total-devolution').textContent) || 0;

    const totalChange=parseFloat(document.getElementById('total-change').textContent) || 0;

    const totalSales = total_cash_sales + total_credit_sales + total_debit_sales;
    const totalSalesMoney = totalSales+totalChange;
    const total = totalSales + totalEntered + totalOutput + totalDevolution + totalChange;

    document.getElementById('total-sales').textContent = `$${totalSalesMoney.toFixed(2)}`;

    document.getElementById('total-money-in-box').textContent = `$${total.toFixed(2)}`;
    document.getElementById('total-for-system').textContent = `$${total.toFixed(2)}`;
    document.getElementById('total-money-recibed').textContent = `$${totalSales.toFixed(2)}`;

    function calculate_the_total() {
        document.getElementById('total-for-system').textContent = `$${total.toFixed(2)}`;



        const totalUser = 100 - totalSales;
        document.getElementById('total-for-user').textContent = `$${totalUser.toFixed(2)}`;
    }

    function calculate_total_user() {

    }

    function calcularDiferencia() {
        let efectivo = parseFloat(document.getElementById('money').value) || 0;
        let credito = parseFloat(document.getElementById('credit').value) || 0;
        let debito = parseFloat(document.getElementById('debit').value) || 0;


        //this is for calculate the total for the user in all the inputs
        let totalIngresado = efectivo + credito + debito;
        let calculado = total;
        let diferencia = totalIngresado - calculado;

        let diferenciaElemento = document.getElementById('total-for-user');
        diferenciaElemento.textContent = `$${diferencia.toFixed(2)}`;

        if (diferencia < 0) {
            diferenciaElemento.classList.add('text-danger');
            diferenciaElemento.classList.remove('text-success');
        } else if (diferencia > 0) {
            diferenciaElemento.classList.add('text-success');
            diferenciaElemento.classList.remove('text-danger');
        } else {
            diferenciaElemento.classList.remove('text-danger', 'text-success');
        }


        //this is for calculate the difference in each input CASH
        const differenceTotalCash=efectivo - total_cash_sales;
        const diferenciaElementoCash=document.getElementById('cash-difference')
        diferenciaElementoCash.textContent = (differenceTotalCash).toFixed(2);

        if (differenceTotalCash < 0) {
            diferenciaElementoCash.classList.add('text-danger');
            diferenciaElementoCash.classList.remove('text-success');
        } else if (differenceTotalCash > 0) {
            diferenciaElementoCash.classList.add('text-success');
            diferenciaElementoCash.classList.remove('text-danger');
        } else {
            diferenciaElementoCash.classList.remove('text-danger', 'text-success');
        }


        //this is for calculate the difference in each input CREDIT
        const differenceTotalCredit=credito - total_credit_sales;
        const diferenciaElementoCredit=document.getElementById('credit-difference')
        diferenciaElementoCredit.textContent = (differenceTotalCredit).toFixed(2);

        if (differenceTotalCredit < 0) {
            diferenciaElementoCredit.classList.add('text-danger');
            diferenciaElementoCredit.classList.remove('text-success');
        } else if (differenceTotalCredit > 0) {
            diferenciaElementoCredit.classList.add('text-success');
            diferenciaElementoCredit.classList.remove('text-danger');
        } else {
            diferenciaElementoCredit.classList.remove('text-danger', 'text-success');
        }

        //this is for calculate the difference in each input DEBIT
        const differenceTotalDebit=debito - total_debit_sales;
        const diferenciaElementoDebit=document.getElementById('debit-difference')
        diferenciaElementoDebit.textContent = (differenceTotalDebit).toFixed(2);

        if (differenceTotalDebit < 0) {
            diferenciaElementoDebit.classList.add('text-danger');
            diferenciaElementoDebit.classList.remove('text-success');
        } else if (differenceTotalDebit > 0) {
            diferenciaElementoDebit.classList.add('text-success');
            diferenciaElementoDebit.classList.remove('text-danger');
        } else {
            diferenciaElementoDebit.classList.remove('text-danger', 'text-success');
        }
    }



    calculate_the_total();
    calcularDiferencia();


    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionar los inputs
        const inputs = document.querySelectorAll('#money, #credit, #debit');

        // Agregar un event listener a cada input
        inputs.forEach(input => {
            input.addEventListener('input', calcularDiferencia);
        });

        // Llamar la función al cargar la página (por si ya hay valores)
        calcularDiferencia();
    });

</script>