<br>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<div class="container">
    <label for="">👗 Boutique</label>
    <hr>
    {{#if boutique}}
        <label>Buscar un Producto en tu Boutique</label>
        <div class="row">
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Buscar por código de barras..." id="search">
            </div>
            {{#each branchFree}}
                <div class="col">
                    <button class="btn btn-confirm-message" onclick="nextWeb('{{id_companies}}/{{id}}/add-boutique')">Agregar Boutique +</button>
                </div>
            {{/each}}
        </div>
        <br>
        <div class="table-responsive" style="height: 700px; overflow-y: scroll;">
            <table class="table table-hover" id="table-container">
                <thead>
                    <tr>
                        <th>Codigo de Barras</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cant. Vareaciones</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each boutique}}
                        <tr>
                            <td>{{barcode}}</td>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td>{{total_products}}</td>
                            <td>
                                <button class="btn btn-edit" onclick="nextWeb('{{id_companies}}/{{id_branches}}/{{id}}/edit-boutique')"><i class="fi-department fi-sr-pencil"></i></button>
                                <button class="btn btn-danger" onclick="delete_boutique('{{id_companies}}','{{id_branches}}','{{id}}','{{name}}')"><i class="fi-department fi-sr-trash"></i></button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <br>
        <center>
            <label for="">No existe ningun Boutique</label>
            <br>
            <img src="/img/icons_first/notfile.webp" alt="">
            <br>
            {{#each branchFree}}
                <button class="btn btn-edit" onclick="nextWeb('{{id_companies}}/{{id}}/add-boutique')">Crear un nuevo Boutique</button>
            {{/each}}
        </center>
    {{/if}}
</div>



<script src="/js/search.js"></script>
<script>
    async function delete_boutique(id_company,id_branch,id_boutique,name){
        if(await questionMessage('👁️ Eliminar Boutique', `¿Deseas eliminar el Boutique de '${name}'?`)){
            window.location.href = `/links/${id_company}/${id_branch}/${id_boutique}/delete-all-the-boutique`;
        }
    }
</script>