<!---
<div class="menu">
    <button class="close-menu">×</button>
    <div class="container-app">
        <div class="app-icon" onclick="nextWeb('/home')">
            <img src="https://cdn-icons-png.flaticon.com/512/4643/4643966.png" alt="Insumos">
            <span>Menu</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/supplies-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3524/3524533.png" alt="Insumos">
            <span>Insumos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/supplies-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/4297/4297418.png" alt="Insumos">
            <span>Productos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/combos-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3178/3178808.png" alt="Combos">
            <span>Combos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employees-branch')">
            <img src="https://cdn-icons-png.flaticon.com/256/2808/2808350.png" alt="">
            <span>Empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/order-free')">
            <img src="https://cdn-icons-png.flaticon.com/256/11060/11060664.png" alt="Ofertas">
            <span>Repartidor</span>
        </div>
        <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
            <img src="https://cdn-icons-png.freepik.com/512/5509/5509453.png" alt="Repartidores">
            <span>Clientes</span>
        </div>
        <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
            <img src="https://cdn-icons-png.flaticon.com/256/2799/2799909.png" alt="Repartidores">
            <span>Menu Digital</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/ad')">
            <img src="https://cdn-icons-png.flaticon.com/512/518/518390.png" alt="">
            <span>Anuncios</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/box')">
            <img src="https://cdn-icons-png.flaticon.com/512/2799/2799689.png" alt="Departamentos">
            <span>Cajas</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-department-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/2806/2806707.png" alt="">
            <span>Departamento de Comida</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-area-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/2911/2911036.png" alt="">
            <span>Area de Comida</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/sales')">
            <img src="https://cdn-icons-png.flaticon.com/512/4372/4372904.png" alt="Departamentos">
            <span>Ventas</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/movements')">
            <img src="https://cdn-icons-png.flaticon.com/256/4028/4028580.png" alt="Departamentos">
            <span>Movimientos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employee-department')">
            <img src="https://cdn-icons-png.flaticon.com/512/2572/2572870.png" alt="Departamentos">
            <span>Departamento de empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/type-employees-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/2807/2807211.png" alt="Departamentos">
            <span>Roles de empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/type-employees-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3330/3330005.png" alt="Departamentos">
            <span>Sucursales</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id}}/{{id_companies}}/edit-branch-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/2878/2878370.png" alt="Departamentos">
            <span>Configuracion</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/marketplace')">
            <img src="https://cdn-icons-png.flaticon.com/512/4372/4372862.png" alt="Áreas">
            <span>Marketplace</span>
        </div>
        <div class="app-icon" onclick="nextWeb('logout')">
            <img src="https://cdn-icons-png.flaticon.com/512/3596/3596136.png" alt="Áreas">
            <span>Cerrar Sesion</span>
        </div>
    </div>
</div>
--->

 
<div class="menu">
    <button class="close-menu">×</button>
    <div class="container-app">
        <div class="app-icon" onclick="nextWeb('/home')">
            <img src="https://cdn-icons-png.flaticon.com/512/5544/5544953.png" alt="Insumos">
            <span>Menu</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/supplies-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/1147/1147832.png" alt="Insumos">
            <span>Insumos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/combos-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/6626/6626465.png" alt="Combos">
            <span>Combos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/providers')">
            <img src=" https://cdn-icons-png.flaticon.com/512/2554/2554978.png" alt="Combos">
            <span>Provedores</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employees-branch')">
            <img src="https://cdn-icons-png.flaticon.com/512/5188/5188850.png" alt="">
            <span>Empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/order-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/2830/2830305.png" alt="Ofertas">
            <span>Repartidor</span>
        </div>
        <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
            <img src="https://cdn-icons-png.flaticon.com/256/2180/2180060.png" alt="Repartidores">
            <span>Menu Digital</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/ad')">
            <img src="https://cdn-icons-png.flaticon.com/512/6165/6165633.png" alt="Movimientos">
            
            <span>Anuncios</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id}}/{{id_companies}}/edit-branch-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/4682/4682602.png" alt="Departamentos">
            <span>Sucursal</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/box')">
            <img src="https://cdn-icons-png.flaticon.com/512/8828/8828939.png" alt="Departamentos">
            <span>Cajas</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-department-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3974/3974868.png" alt="Departamentos">
            <span>Departamento de Comida</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-area-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3974/3974868.png" alt="Departamentos">
            <span>Area de Comida</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/sales')">
            <img src="https://cdn-icons-png.flaticon.com/512/5305/5305244.png" alt="Departamentos">
            <span>Ventas</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/movements')">
            <img src="https://cdn-icons-png.flaticon.com/512/9226/9226528.png" alt="Departamentos">
            <span>Movimientos</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
            <img src="https://cdn-icons-png.flaticon.com/512/12448/12448233.png" alt="Departamentos">
            <span>Contabilidad</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employee-department')">
            <img src="https://cdn-icons-png.flaticon.com/512/5957/5957016.png" alt="Departamentos">
            <span>Departamento de empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/type-employees-free')">
            <img src="https://cdn-icons-png.flaticon.com/512/3652/3652287.png" alt="Departamentos">
            <span>Roles de empleados</span>
        </div>
        <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/marketplace')">
            <img src="https://cdn-icons-png.flaticon.com/512/4372/4372862.png" alt="Áreas">
            <span>Marketplace</span>
        </div>
        <div class="app-icon" onclick="nextWeb('logout')">
            <img src="https://cdn-icons-png.flaticon.com/512/3596/3596136.png" alt="Áreas">
            <span>Cerrar Sesion</span>
        </div>
    </div>
</div>


<!----
<li>
    <a href="/fud/home"><i class="fi-icon fi-sr-apps"> Menu</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/marketplace"><i class="fi-icon fi-ss-shopping-bag"> Marketplace</i></a>
</li>
<li step="btn-navbar-supplies">
    <a href="/fud/{{id_companies}}/{{id}}/supplies-free"> <i class="fi-icon fi-sr-apple-whole"> Insumos</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/combos-free"><i class="fi-icon fi-sr-restaurant"> Combos</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/employees-branch"><i class="fi-icon fi-ss-user-chef"> Empleados</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/order-free"><i class="fi-icon fi-ss-biking-mountain"> Repartidor</i></a>
</li>
<li>
    <a href="/fud/myrestaurant/{{id_companies}}/{{id}}" target="_blank"><i class="fi-icon fi-ss-window-alt"> Menu Digital</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/ad"><i class="fi-icon fi-sr-ad"> Anuncios</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/0/sales"><i class="fi-icon fi-sr-ticket"> Ventas</i></a>
</li>
<li>
    <a href="/fud/{{id_companies}}/{{id}}/0/movements"><i class="fi-icon fi-sr-hand-holding-usd"> Movimientos</i></a>
</li>
<li>
    <a href="/fud/{{id}}/{{id_companies}}/edit-branch-free"><i class="fi-icon fi-sr-store-alt"> Sucursal</i></a>
</li>
--->