<link rel="stylesheet" href="/css/web/new-navbar.css">
<style>
    .container-app {
        height: 80%;
        width: 70%;
        overflow-y: auto;
    }

    .descriptionWindow {
        background: linear-gradient(90deg, #075DA8, #0576F8);
    }

</style>
<section class="descriptionWindow">

    <head class="headDescription">
        <div class="navbar">
            <ul class="ul-menu-bar">
                <label for="check" class="btn-menu-bar">
                    <i class="fi-des fi-br-menu-burger menu-toggle" id="btn-navbar-open" step="btnNavBar"></i>
                    <i class="fi-des fi-br-cross" id="btn-navbar-cancel"></i>
                </label>
            </ul>

            <div class="menu">
                <input type="text" placeholder="Busca una App" class="form-control" style="width: 25%;" id="search-app">
                <button class="close-menu">×</button>




                <div class="container-app">
                    <!--
                        <div class="app-icon" onclick="nextWeb('/home')">
                            <img src="https://cdn-icons-png.flaticon.com/512/5544/5544953.png" alt="Insumos">
                            <span>Menu</span>
                        </div>
                        --->

                    <div class="app-icon" onclick="nextWeb('/home')">
                        <img src="/img/apps/home.webp" alt="Insumos">
                        <span>Home</span>
                    </div>

                    {{#if user.app_point_sales}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('/point-sales')">
                        <img src="/img/apps/point_sales.webp" alt="Insumos">
                        <span>Punto de Venta</span>
                        <label class="shortcuts-label">F1</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_products}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/products-free')">
                        <img src="/img/apps/products.webp" alt="Productos">
                        <span>Productos</span>
                        <label class="shortcuts-label">F2</label>
                    </div>
                    {{/each}}
                    {{/if}}


                    {{#if user.view_products}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/boutique')">
                        <img src="/img/apps/boutique.webp" alt="Productos">
                        <span>Boutique</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_supplies}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/supplies-free')">
                        <img src="/img/apps/supplies.webp" alt="Insumos">
                        <span>Insumos</span>
                        <label class="shortcuts-label">F3</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_combo}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/combos-free')">
                        <img src="/img/apps/combos.webp" alt="Combos">
                        <span>Combos</span>
                        <label class="shortcuts-label">F4</label>
                    </div>
                    {{/each}}
                    {{/if}}


                    {{#if user.view_inventory}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/inventory')">
                        <img src="/img/apps/inventory.webp" alt="Impresoras">
                        <span>Inventario</span>
                        <label class="shortcuts-label">F5</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.edit_inventory}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/mass-product-adjustment')">
                        <img src="/img/apps/stock.webp" alt="Impresoras">
                        <span>Stock</span>
                        <label class="shortcuts-label">F6</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    <!--
                        {{#if user.view_inventory}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/warehouses')">
                                    <img src="/img/apps/warehouses.webp" alt="Impresoras">
                                    <span>Almacenes</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if user.view_inventory}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/lot')">
                                    <img src="/img/apps/lots.webp" alt="Impresoras">
                                    <span>Lotes y Series</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        --->

                    {{#if user.view_food_departament}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-department-free')">
                        <img src="/img/apps/food-department.webp" alt="Departamentos">
                        <span>Departamento de productos</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_food_category}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/food-area-free')">
                        <img src="/img/apps/food-area.webp" alt="Departamentos">
                        <span>Categoría de productos</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_provider}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/providers-free')">
                        <img src="/img/apps/providers.webp" alt="Proveedores">
                        <span>Proveedores</span>
                        <label class="shortcuts-label">F7</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_movement_history}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/report-prescription')">
                        <img src="/img/apps/prescription.webp" alt="Ventas">
                        <span>Reportes médicos</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_customer_credits}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/customers-company')">
                        <img src="/img/apps/customers.webp" alt="Clientes">
                        <span>Clientes</span>
                        <label class="shortcuts-label">F8</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    <!---
                        {{#if user.view_schedule}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/schedules')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/566/566632.png" alt="Horarios">
                                    <span>Horarios</span>
                                </div>
                            {{/each}}
                        {{/if}} 
                        

                        {{#if user.employees_schedules}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/schedules-employees')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5246/5246231.png" alt="Horarios de empleados">
                                    <span>Horarios de empleados</span>
                                </div>
                            {{/each}}
                        {{/if}} 
                        --->
                    {{#if user.view_employee}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employees-branch')">
                        <img src="/img/apps/employees.webp" alt="Empleados">
                        <span>Empleados</span>
                        <label class="shortcuts-label">F9</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.employee_department}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/employee-department')">
                        <img src="/img/apps/employee-department.webp" alt="Departamento de empleados">
                        <span>Departamento de empleados</span>
                    </div>
                    {{/each}}
                    {{/if}}
                    {{#if user.employee_roles}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/type-employees-free')">
                        <img src="/img/apps/type-employees.webp" alt="Roles de empleados">
                        <span>Roles y permisos</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.employee_roles}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/cashCut')">
                        <img src="https://cdn-icons-png.flaticon.com/512/8276/8276278.png" alt="Roles de empleados">
                        <span>Cortes de Caja</span>
                        <label class="shortcuts-label">F10</label>
                    </div>
                    {{/each}}
                    {{/if}}

                    <!--
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/7067/7067947.png" alt="Contabilidad">
                                    <span>Nomina</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        --->
                    <!---
                        {{#if user.crm}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/CRM')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/747/747563.png" alt="CRM">
                                    <span>CRM</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if user.crm}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/watch-invoice-crm')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/8392/8392178.png" alt="CRM">
                                    <span>Cotizaciones</span>
                                </div>
                            {{/each}}
                        {{/if}}


                        {{#if user.sell}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3176/3176363.png" alt="Ecommerce">
                                    <span>Ecommerce</span>
                                </div>
                            {{/each}}
                        {{/if}}
    
                        {{#if user.sell}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/ad')">
                                    <img src="/img/apps/ads.webp" alt="Anuncios">
                                    <span>Anuncios</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        
                        {{#if user.customers}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/appointment')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/6176/6176257.png" alt="Clientes">
                                    <span>Agenda</span>
                                </div>
                            {{/each}}
                        {{/if}}
                       --->

                    {{#if user.view_movement_history}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/sales')">
                        <img src="/img/apps/sales.webp" alt="Ventas">
                        <span>Ventas</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.view_movement_history}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/movements')">
                        <img src="/img/apps/movements.webp" alt="Movimientos">
                        <span>Movimientos</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    <!---
                        {{#if user.movements}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/0/movements')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5163/5163814.png" alt="Movimientos">
                                    <span>Devoluciones</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/12448/12448233.png" alt="Contabilidad">
                                    <span>Contabilidad</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        --->

                    {{#if user.view_reports}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                        <img src="/img/apps/reports.webp" alt="Contabilidad">
                        <span>Reportes</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    <!---
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/809/809423.png" alt="Contabilidad">
                                    <span>Analizis</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        --->

                    <!---
                        {{#if user.ecommerce}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5643/5643764.png" alt="Ecommerce">
                                    <span>Pedidos</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        

                        {{#if user.ecommerce}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('myrestaurant/{{id_companies}}/{{id}}')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2180/2180060.png" alt="Ecommerce">
                                    <span>Menú Digital</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        

                        {{#if user.edit_branch}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id}}/{{id_companies}}/edit-branch-free')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/1198/1198348.png" alt="Editar Sucursal">
                                    <span>Franquicias</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        

                        {{#if user.dealer}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/order-free')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2830/2830305.png" alt="Repartidor">
                                    <span>Repartidores</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        

                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/4245/4245736.png" alt="Contabilidad">
                                    <span>Gestion de Tarreas</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/projects')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/427/427735.png" alt="Contabilidad">
                                    <span>Gestion de Proyectos</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/4593/4593047.png" alt="Contabilidad">
                                    <span>Dead Line</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3253/3253853.png" alt="Contabilidad">
                                    <span>Comunicacion</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        {{#if user.accounting}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/reports')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/10256/10256085.png" alt="Contabilidad">
                                    <span>Documentos</span>
                                </div>
                            {{/each}}
                        {{/if}}

                        {{#each branchFree}}
                            <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/ed-studios')">
                                <img src="https://cdn-icons-png.flaticon.com/512/3904/3904299.png" alt="Áreas">
                                <span>ED Estudios</span>
                            </div>
                        {{/each}}
                        -->

                    <!--we will print all the apps of this branch
                        {{#each branchFree}}
                            {{#each apps}}
                                <div class="app-icon" onclick="nextWeb('{{id_company}}/{{id_branch}}/app/{{name}}')">
                                    {{#if icon}}
                                        <img src="{{icon}}" alt="Insumos">
                                    {{else}}
                                        <img src="https://cdn-icons-png.flaticon.com/512/3902/3902021.png" alt="Insumos">
                                    {{/if}}
                                    <span>{{name}}</span>
                                </div>
                            {{/each}}
                        {{/each}}
                        --->

                    {{#if user.add_box}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/box')">
                        <img src="/img/apps/box.webp" alt="Impresoras">
                        <span>Impresoras</span>
                    </div>
                    {{/each}}
                    {{/if}}


                    <!--
                        {{#each branchFree}}
                            <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/orders')">
                                <img src="/img/apps/comanders.webp" alt="Combos">
                                <span>Comandas</span>
                            </div>
                        {{/each}}
                        -->

                    {{#if user.modify_hardware}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id}}/{{id_companies}}/edit-branch-free')">
                        <img src="/img/apps/editbranch.webp" alt="Editar Sucursal">
                        <span>Editar Sucursal</span>
                    </div>
                    {{/each}}
                    {{/if}}

                    {{#if user.give_permissions}}
                    {{#each branchFree}}
                    <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/options')">
                        <img src="/img/apps/options.webp" alt="Departamentos">
                        <span>Configuración</span>
                    </div>
                    {{/each}}
                    {{/if}}
                    <!--
                        {{#if user.modify_hardware_kitchen}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/prices')">
                                    <img src="https://cdn-icons-png.flaticon.com/512/5560/5560586.png" alt="Editar Sucursal">
                                    <span>Membresias</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        


                        {{#if user.give_permissions}}
                            {{#each branchFree}}
                                <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/options')">
                                    <img src="/img/apps/options.webp" alt="Departamentos">
                                    <span>Configuración</span>
                                </div>
                            {{/each}}
                        {{/if}}
                        --->
                    <!---
                        {{#each branchFree}}
                            <div class="app-icon" onclick="nextWeb('{{id_companies}}/{{id}}/marketplace')">
                                <img src="https://cdn-icons-png.flaticon.com/512/4372/4372862.png" alt="Áreas">
                                <span>Marketplace</span>
                            </div>
                        {{/each}}
                        --->
                    <div class="app-icon" onclick="nextWeb('logout')">
                        <img src="/img/apps/logout.webp" alt="Áreas">
                        <span>Cerrar Sesion</span>
                    </div>
                </div>
            </div>

            <!--this is for add the name of the company or the branch-->

            <ul class="titleDesciption">
                <!--
                <span class="color-name-navbar">{{user.email}}</span>
                {{#if user.photo}}
                    <img src="{{user.photo}}" class="img-profile-navbar">
                {{else}}
                    <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" class="img-profile-navbar">
                {{/if}}  
                
                --->
                {{>navbar/messageHistory}}
            </ul>
        </div>
    </head>
</section>

{{#each branchFree}}
<input type="hidden" id="id_branch_menu" value="{{id}}">
<input type="hidden" id="id_company_menu" value="{{id_companies}}">
{{/each}}

<script src="/js/web/new-navbar.js"></script>
<script>
    // select the search input of the apps
    const searchInput = document.getElementById('search-app');

    // this function if for filter the apps
    searchInput.addEventListener('input', function () {
        const filter = searchInput.value.toLowerCase(); // get the value of search input in lowercase
        const apps = document.querySelectorAll('.app-icon'); // get all the apps

        // Itera sobre cada app para mostrar u ocultar
        apps.forEach(app => {
            const appName = app.querySelector('span').textContent.toLowerCase(); // Obtiene el nombre de la app
            if (appName.includes(filter)) {
                app.style.display = ''; // sho the apps
            } else {
                app.style.display = 'none'; // hidden the apps
            }
        });
    });
</script>


<script>
    document.addEventListener('keydown', function (event) {

        //first check if the menu is open
        if (event.key === "Escape") {
            //if the menu is open, close it
            const menu = document.querySelector('.menu');
            if (menu.classList.contains('active')) {
                menu.classList.remove('active');
            } else {
                open_menu(); //if the menu is not open, open it

            }
            return;
        }

        //her we will get the id_company and id_branch from the url
        const id_company = document.getElementById('id_company_menu').value;
        const id_branch = document.getElementById('id_branch_menu').value;

        //this is the shortcut of eleventa for open module
        const simpleShortcuts = {
            'F1': '/point-sales', //point sales
            'F2': `${id_company}/${id_branch}/products-free`,
            'F3': `${id_company}/${id_branch}/supplies-free`,
            'F4': `${id_company}/${id_branch}/combos-free`,
            'F5': `${id_company}/${id_branch}/inventory`,
            'F6': `${id_company}/${id_branch}/mass-product-adjustment`,
            'F7': `${id_company}/${id_branch}/providers-free`,
            'F8': `${id_company}/${id_branch}/customers-company`,
            'F9': `${id_company}/${id_branch}/employees-branch`,
            'F10': `${id_company}/${id_branch}/cashCut`
        };

        if (simpleShortcuts[event.key]) {
            event.preventDefault();
            const link = simpleShortcuts[event.key];
            nextWeb(link);
        }


        // Diccionario de atajos simples (F1, F2, etc.)
        const apps = {
            '1': '/point-sales', //point sales
            '2': `${id_company}/${id_branch}/customers-company`,
            '3': `${id_company}/${id_branch}/products-free`,
            '4': `${id_company}/${id_branch}/inventory`,
            '5': `${id_company}/${id_branch}/supplies-free`,
            '6': `${id_company}/${id_branch}/combos-free`,
            '7': `${id_company}/${id_branch}/mass-product-adjustment`,
            '8': `${id_company}/${id_branch}/report-prescription`,
            '9': `${id_company}/${id_branch}/cashCut`,
            '0': `${id_company}/${id_branch}/employees-branch`
        };

        //apps
        if (event.altKey && apps[event.key]) {
            event.preventDefault();
            const link = simpleShortcuts[event.key];
            nextWeb(link);
        }
    });

</script>