<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>

<!--this is the navbar-->
{{#if digitalMenu}}
{{else}}
    <section class="descriptionWindow">

        <head class="headDescription">
            <div class="navbar">
                <ul class="ul-menu-bar">
                    <input type="checkbox" id="check" onchange="wallpaper_active()">
                    <label for="check" class="btn-menu-bar">
                        <i class="fi-des fi-br-menu-burger" id="btn-navbar-open" step="btnNavBar"></i>
                        <i class="fi-des fi-br-cross" id="btn-navbar-cancel"></i>
                    </label>
                    <div class="sidebar">
                        {{#if company}}
                            {{#each company}}
                                <header>{{alias}}</header>
                            {{/each}}
                            {{else}}
                                {{#if branch}}
                                    {{#each branch}}
                                        <header>{{name_branch}}</header>
                                    {{/each}}
                                {{else}}
                                    <header>Füd</header>
                                {{/if}}
                            {{/if}}
                            <ul class="scroll-navbar">

                                <!---this is for see the subscriptions-->
                                <li rolUser="{{user.rol_user}}" id="roleUser"><a href="/fud/subscription"><i
                                            class="fi-icon fi-sr-credit-card"> Licencias</i></a></li>


                                {{#each company}}
                                    <li><a href="company-home"><i class="fi-icon fi-sr-apps"> Dashboard</i></a></li>
                                    <li><a href="/fud/{{id}}/branches"><i class="fi-icon fi-sr-store-alt"> Branches</i></a></li>
                                    <li><a href="/fud/{{id}}/employees"><i class="fi-icon fi-sr-hat-chef"> Employees</i></a></li>
                                    <li><a href="/fud/{{id}}/customers-company"><i class="fi-icon fi-sr-user"> Customers</i></a>
                                    </li>
                                    <li><a href="/fud/{{id}}/company-supplies"><i class="fi-icon fi-sr-apple-whole">
                                                Supplies</i></a></li>
                                    <li><a href="/fud/{{id}}/company-products"><i class="fi-icon fi-ss-hamburger"> Products</i></a>
                                    </li>
                                    <li><a href="/fud/{{id}}/combos"><i class="fi-icon fi-sr-restaurant"> Combos</i></a></li>
                                    <li><a href="/fud/{{id}}/providers"><i class="fi-icon fi-ss-truck-side"> Providers</i></a></li>
                                    <li><a href="/fud/{{id}}/reports"><i class="fi-icon fi-ss-files-medical"> Reports</i></a></li>
                                    <li><a href="/fud/{{id}}/options"><i class="fi-icon fi-sr-settings"> Options</i></a></li>
                                    <li><a href="/fud/home"><i class="fi-icon fi-sr-undo"> Exit</i></a></li>
                                {{/each}}


                            {{#each branch}}
                                <li><a href="/fud/{{id_companies}}/{{id}}/visit-branch"><i class="fi-icon fi-sr-apps">
                                            Dashboard</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/employees-branch"><i class="fi-icon fi-sr-hat-chef">
                                            Employees</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/schedules-employees"><i
                                            class="fi-icon fi-sr-clock-three"> Schedules</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/supplies"><i class="fi-icon fi-sr-apple-whole">
                                            Supplies</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/products"><i class="fi-icon fi-ss-hamburger">
                                            Products</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/combos"><i class="fi-icon fi-sr-restaurant">
                                            Combos</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/providers"><i class="fi-icon fi-ss-truck-side">
                                            Providers</i></a></li>
                                <li><a href="/fud/{{id_companies}}/{{id}}/ad"><i class="fi-icon fi-sr-ad"> Ad</i></a></li>
                                <li><a href="/fud/{{id_companies}}/company-home"><i class="fi-icon fi-sr-undo"> Exit</i></a></li>
                            {{/each}}

                            <!----->
                            {{#each branchFree}}
                                <li>
                                    <a href="/fud/home"><i class="fi-icon fi-sr-apps"> Menu</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/marketplace"><i class="fi-icon fi-ss-shopping-bag"> Marketplace</i></a>
                                </li>
                                <li step="btn-navbar-supplies">
                                    <a href="/fud/{{id_companies}}/{{id}}/supplies-free"> <i class="fi-icon fi-sr-apple-whole"> Insumos</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/combos-free"><i class="fi-icon fi-sr-restaurant"> Combos</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/employees-branch"><i class="fi-icon fi-sr-user"> Empleados</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/order-free"><i class="fi-icon fi-ss-biking-mountain"> Repartidor</i></a>
                                </li>
                                <li>
                                    <a href="/fud/myrestaurant/{{id_companies}}/{{id}}" target="_blank"><i class="fi-icon fi-ss-window-alt"> Menu Digital</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/ad"><i class="fi-icon fi-sr-ad"> Anuncios</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/0/sales"><i class="fi-icon fi-sr-ticket"> Ventas</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id_companies}}/{{id}}/0/movements"><i class="fi-icon fi-sr-hand-holding-usd"> Movimientos</i></a>
                                </li>
                                <li>
                                    <a href="/fud/{{id}}/{{id_companies}}/edit-branch-free"><i class="fi-icon fi-sr-store-alt"> Sucursal</i></a>
                                </li>
                            {{/each}}


                            <!--this is for logout-->
                            <li><a href="/fud/my-order"><i class="fi-icon fi-sr-ballot">
                                        Mis Pedidos</i></a></li>
                            <li><a href="/fud/logout"><i class="fi-icon fi-br-exit"> Cerrar sesión</i></a></li>
                        </ul>
                    </div>
                </ul>

                <!--this is for add the name of the company or the branch-->
                <ul class="titleDesciption">
                    <span class="color-name-navbar">{{user.email}}</span>
                    {{#if user.photo}}
                        <img src="{{user.photo}}" class="img-profile-navbar">
                    {{else}}
                        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" class="img-profile-navbar">
                    {{/if}}  
                </ul>
            </div>
        </head>
    </section>
    <br><br>
    <!--this is the wallpaper black that we create when the user activate the navbar-->
    <div class="wallpaper-navbar" id="wallpaper-navbar">

    </div>
{{/if}}



<!-- CUSTOM JS -->
<script src="/js/menu.js" defer></script>


<!-- Google tag (gtag.js) this is for follow to the user with help of GOOGLE ADS-->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16577376827"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-16577376827');
</script>

<!--this script is for delete the tag de prices when the user be a employee-->
<script>
    function delete_role() {
        const labelRol = document.getElementById('roleUser')
        console.log('labelRol')
        console.log(labelRol)
        const roleUser = labelRol.getAttribute('rolUser')
        console.log(roleUser)
        if (roleUser >= 1) {
            labelRol.remove();
        }
    }
    delete_role()
</script>


<!--this script will be that the description of the web choose depending in where is the user-->
<script>
    var url = window.location.href;
    var works = url.split("/");
    var description = works.pop();
    document.getElementById("des").textContent = text_convert(description);

    function text_convert(title) {
        var textConvert = title.replace(/-/g, ' ');
        if (textConvert == '') {
            return 'Füd'
        }
        return textConvert;
    }
</script>

<!--this script is for the wallpaper black-->
<script>
    // Function to toggle the 'active' class based on checkbox state
    function wallpaper_active() {
        // Get the checkbox element by its ID
        var checkbox = document.getElementById("check");

        // Get the div element by its ID
        var wallpaperNavbar = document.getElementById("wallpaper-navbar");

        // Toggle the 'active' class based on checkbox state
        if (checkbox.checked) {
            wallpaperNavbar.classList.add("active");
        } else {
            wallpaperNavbar.classList.remove("active");
        }
    }
</script>