<link rel='stylesheet' href='/css/desktop/uicons-solid-rounded.css'>
<link rel="stylesheet" href="/css/point of sales/cart.css">
<link rel="stylesheet" href="/css/point of sales/messagePop.css">

{{>loading}}

<!--this is for get all the data of the company when the user printer the ticket-->
{{#each dataCompany}}
    <input type="hidden" value="{{path_logo}}" id="path-icon-company">
    <input type="hidden" value="{{name}}" id="name-company">
{{/each}}
<h6 id="employee-name" style="display: none;">{{user.first_name}} {{user.second_name}} {{user.last_name}}</h6>


{{>point-of-sales/recipe}}
<!--this is the container of the point of sale-->
<div class="container-point-of-sales">
    <!-- menu (left) -->
    {{>point-of-sales/menu}}

    <!-- shopping cart (right) -->
    {{>point-of-sales/shoppingCart}}
</div>

{{>point-of-sales/cfdi}}
{{>point-of-sales/messagePop}}
{{>point-of-sales/messagePopSales}}
{{>point-of-sales/weightScale}}


<!---js for print tickets--->
<script src="/js/point of sale/JQuery.js"></script>
<script src="/js/point of sale/escops.js"></script>
<script src="/js/point of sale/tickets.js"></script>

<!--SHOOPING CART--->
<script src="/js/point of sale/shoppingCart.js"></script>
<script src="/js/point of sale/editCantOfProductShoppingCart.js"></script>
<script src="/js/point of sale/searchMenu.js"></script>





<!------------------------->


<!---this is the information for orden of send--->
<script>
    function get_data_order() {
        const idBranch = parseInt(document.getElementById('id_branch').value);
        const customerName = document.getElementById('customer-name').value || "";
        const customerCellphone = document.getElementById('customer-cellphone').value || "";
        const customerPhone = document.getElementById('customer-phone').value || "";
        const customerAddress = document.getElementById('customer-address').value || "";
        const customerComment = document.getElementById('customer-comment').value || "";

        return {
            idBranch: idBranch,
            name: customerName,
            cellphone: customerCellphone,
            phone: customerPhone,
            address: customerAddress,
            comment: customerComment
        };
    }

    function update_input_order(dataOrder) {
        document.getElementById('customer-name').value = dataOrder[0];
        document.getElementById('customer-cellphone').value = dataOrder[1];
        document.getElementById('customer-phone').value = dataOrder[2];
        document.getElementById('customer-address').value = dataOrder[3];
        document.getElementById('customer-comment').value = dataOrder[4];

        //show the information of send
        var table = document.getElementById('table-order');
        table.style.display = 'block';
    }

    function reset_input_order() {
        document.getElementById('customer-name').value = "";
        document.getElementById('customer-cellphone').value = "";
        document.getElementById('customer-phone').value = "";
        document.getElementById('customer-address').value = "";
        document.getElementById('customer-comment').value = "";

        //delete the information of send
        var table = document.getElementById('table-order');
        table.style.display = 'none';
    }

    async function create_new_order() {
        //we will get the data of the order
        const oldDataOrder = get_data_order()
        const dataOrder = await show_create_new_order(oldDataOrder);
        //we will if the user not delete the data 
        if (dataOrder != null) {
            //we will see if the data is complete 
            if (dataOrder[0] != '' && dataOrder[3] != '') {
                update_input_order(dataOrder); //update the value of the inpus of the send 
            } else {
                reset_input_order();
                warningMessage('Error al guardar los datos', 'Asegúrate de que el envío tenga nombre del cliente y su dirección 👀');
            }
        } else {
            if (await questionMessage('Borrar datos del envío', '¿Estás seguro de borrar los datos del envío? 🤔')) {
                reset_input_order();
                confirmationMessage('Datos del envío Borrados', 'Los datos del pedido para el repartidor han sido borrados exitosamente 👍');
            }
        }
    }
</script>
<script>

    //this is for update the input that is selected in the sweet alert of teh car
    function selectInput(input) {
        var inputs = document.querySelectorAll('.input-buy'); //get all the input of the sweet
        inputs.forEach(function (el) {
            el.classList.remove('selected'); //delete the classe <selected>
        });
        input.classList.add('selected'); //add the classe <selected> in the input that the user did click
    }
</script>


<!---this is for load the image if not exist a image in the card of the menu--->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const defaultImage = '/img/icons_first/combo.webp';

        // Get all card images
        const cardImages = document.querySelectorAll('.card-img-top');

        cardImages.forEach(img => {
            if (!img.src || img.src === '') {
                img.src = defaultImage;
            }
        });
    });
</script>

<!---this is the information for orden of send--->
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>
<script src="/js/search.js"></script>
<script src="/js/store/cashMovement.js"></script>
<script src="/js/store/return.js"></script>



<script src="/js/desktop/jquery-3.5.1.slim.min.js"></script>
<script src="/js/desktop/popper.min.js"></script>
<script src="/js/desktop/bootstrap.min.js"></script>
<script src="/js/desktop/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/js/desktop/bootstrap-nav.bundle.min.js"></script>


<!---this is for load the image if not exist a image in the card of the menu--->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const defaultImage = '/img/icons_first/combo.webp';

        // Get all card images
        const cardImages = document.querySelectorAll('.card-img-top');

        cardImages.forEach(img => {
            if (!img.src || img.src === '') {
                img.src = defaultImage;
            }
        });
    });
</script>

<script src="/js/point of sale/cashMovement.js"></script>
<script src="/js/point of sale/return.js"></script>