<link rel='stylesheet' href='/css/desktop/uicons-solid-rounded.css'>
<link rel="stylesheet" href="/css/point of sales/cart.css">
<link rel="stylesheet" href="/css/point of sales/messagePop.css">

{{>loading}}

<!--this is for get all the data of the company when the user printer the ticket-->
{{#each dataCompany}}
    <input type="hidden" value="{{path_logo}}" id="path-icon-company">
    <input type="hidden" value="{{name}}" id="name-company">
{{/each}}
<h6 id="employee-name" style="display: none;">{{user.first_name}} {{user.second_name}} {{user.last_name}}</h6>


{{>point-of-sales/recipe}}

<!--this is the container of the point of sale-->
<div class="container-point-of-sales">
    <!-- menu (left) -->
    {{>point-of-sales/addProductFlash}}
    {{>point-of-sales/menu}}

    <!-- shopping cart (right) -->
    {{>point-of-sales/shoppingCart}}
</div>

<!--services-->
{{>point-of-sales/messagePop}}
{{>point-of-sales/messagePopSales}}
{{>point-of-sales/weightScale}}

<!--SHOOPING CART--->
<script src="/js/point of sale/shoppingCart.js"></script>
<script src="/js/point of sale/editCantOfProductShoppingCart.js"></script>
<script src="/js/point of sale/searchMenu.js"></script>




<script>
    //this is for update the input that is selected in the sweet alert of teh car
    function selectInput(input) {
        var inputs = document.querySelectorAll('.input-buy'); //get all the input of the sweet
        inputs.forEach(function (el) {
            el.classList.remove('selected'); //delete the classe <selected>
        });
        input.classList.add('selected'); //add the classe <selected> in the input that the user did click
    }
</script>



<!---this is the information for orden of send--->
<script src="/js/menu.js"></script>
<script src="/js/store/search.js"></script>
<script src="/js/search.js"></script>
<script src="/js/store/cashMovement.js"></script>
<script src="/js/store/return.js"></script>





<script src="/js/desktop/jquery-3.5.1.slim.min.js"></script>
<script src="/js/desktop/popper.min.js"></script>
<script src="/js/desktop/bootstrap.min.js"></script>
<script src="/js/desktop/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/js/desktop/bootstrap-nav.bundle.min.js"></script>



<script src="/js/point of sale/cashMovement.js"></script>
<script src="/js/point of sale/return.js"></script>


<script>
    //-------------------we will see if the user would like not print ticket-------------------
    function loadScript(src) {
    return new Promise((resolve, reject) => {
        const s = document.createElement('script');
        s.src = src;
        s.onload = resolve;
        s.onerror = reject;
        document.body.appendChild(s);
    });
    }

    async function printTicketScript(total, moneyReceived, change, comment) {
    //we will see if the user has selected a printer
    
    const selectPrinter=document.getElementById('dataPrinter');
    const selectedPrinterValue = selectPrinter.value;
    if (selectedPrinterValue === "") {
        return; 
    }
    
    const scripts = [
        '/js/point of sale/JQuery.js',
        '/js/point of sale/escops.js',
        '/js/point of sale/tickets.js'
    ];

    for (const src of scripts) {
        await loadScript(src);
    }

    printTicket(total, moneyReceived, change, comment); // ✅ Ya están cargados
    console.log("Scripts loaded and printTicket called successfully.");
    }
</script>