<div class="tab-pane fade" id="navbar-branch" role="tabpanel" aria-labelledby="navbar-branch-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-store-alt"></i> Sucursal</label>
            <hr>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crear sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Eliminar sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewAllBranches">
                <label class="form-check-label" for="flexSwitchCheckChecked">Ver todas las sucursales</label>
            </div>
            -->

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="addBox" valueCheck="{{add_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Agregar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editBox" valueCheck="{{edit_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteBox" valueCheck="{{delete_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Eliminar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createReservation" valueCheck="{{create_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crear reservación</label>
            </div>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editReservation" valueCheck="{{edit_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar reservaciones</label>
            </div>
            -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewReservation" valueCheck="{{view_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Ver reservaciones</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewReports" valueCheck="{{view_reports}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Ver reportes</label>
            </div>

        </div>
    </div>
</div>