<div class="tab-pane fade" id="navbar-branch" role="tabpanel" aria-labelledby="navbar-branch-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-store-alt"></i> Sucursal</label>
            <hr>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="createBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crear sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="deleteBranch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Eliminar sucursal</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="viewAllBranches">
                <label class="form-check-label" for="flexSwitchCheckChecked">Ver todas las sucursales</label>
            </div>
            -->

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="add_box" valueCheck="{{add_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Agregar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="edit_box" valueCheck="{{edit_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="delete_box" valueCheck="{{delete_box}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Eliminar caja</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="create_reservation" valueCheck="{{create_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Crear reservación</label>
            </div>
            <!--
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="editReservation" valueCheck="{{edit_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">Editar reservaciones</label>
            </div>
            -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="view_reservation" valueCheck="{{view_reservation}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">App de reservaciones</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="report_to_cofepris" valueCheck="{{report_to_cofepris}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">App Reportes a cofepris</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name="view_reports" valueCheck="{{view_reports}}">
                <label class="form-check-label" for="flexSwitchCheckChecked">App Reportes</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodDepartament" name="view_food_departament" valueCheck="{{view_food_departament}}">
                <label class="form-check-label" for="flexSwitchViewFoodDepartament">App Departamento de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddFoodDepartament" name="add_food_departament" valueCheck="{{add_food_departament}}">
                <label class="form-check-label" for="flexSwitchAddFoodDepartament">Agregar Departamento de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditFoodDepartament" name="edit_food_departament" valueCheck="{{edit_food_departament}}">
                <label class="form-check-label" for="flexSwitchEditFoodDepartament">Editar Departamento de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteFoodDepartament" name="delete_food_departament" valueCheck="{{delete_food_departament}}">
                <label class="form-check-label" for="flexSwitchDeleteFoodDepartament">Eliminar Departamento de Producto/Alimentos</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodCategory" name="view_food_category" valueCheck="{{view_food_category}}">
                <label class="form-check-label" for="flexSwitchViewFoodCategory">App Categoría de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="add_food_category" name="add_food_category" valueCheck="{{add_food_category}}">
                <label class="form-check-label" for="add_food_category">Agregar Categoría de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="edit_food_category" name="edit_food_category" valueCheck="{{edit_food_category}}">
                <label class="form-check-label" for="edit_food_category">Editar Categoría de Producto/Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="delete_food_category" name="delete_food_category" valueCheck="{{delete_food_category}}">
                <label class="form-check-label" for="delete_food_category">Eliminar Categoría de Producto/Alimentos</label>
            </div>
        </div>
    </div>
</div>