<div class="tab-pane fade" id="navbar-cfdi" role="tabpanel" aria-labelledby="navbar-cfdi">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-ss-file-invoice-dollar"></i> CFDI</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="view_facture_cfdi" name="view_facture_cfdi" valueCheck="{{view_facture_cfdi}}">
                <label class="form-check-label" for="view_facture_cfdi">Ver todas mis facturas CFDI</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="create_a_facture_cfdi" name="create_a_facture_cfdi" valueCheck="{{create_a_facture_cfdi}}">
                <label class="form-check-label" for="create_a_facture_cfdi">Crear factura CFDI</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="create_a_facture_cfdi_global" name="create_a_facture_cfdi_global" valueCheck="{{create_a_facture_cfdi_global}}">
                <label class="form-check-label" for="create_a_facture_cfdi_global">Crear factura CFDI Global</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="cancel_a_facture_cfdi" name="cancel_a_facture_cfdi" valueCheck="{{cancel_a_facture_cfdi}}">
                <label class="form-check-label" for="cancel_a_facture_cfdi">Cancelar factura CFDI</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="buy_token_for_create_facture_cfdi" name="buy_token_for_create_facture_cfdi" valueCheck="{{buy_token_for_create_facture_cfdi}}">
                <label class="form-check-label" for="buy_token_for_create_facture_cfdi">Comprar timbres</label>
            </div>
        </div>
    </div>
</div>
