<div class="tab-pane fade" id="navbar-customer" role="tabpanel" aria-labelledby="navbar-customer-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-user"></i> Cliente</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddCustomer" name="addCustomer" valueCheck="{{add_customer}}">
                <label class="form-check-label" for="flexSwitchAddCustomer">Agregar un nuevo cliente</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditCustomer" name="editCustomer" valueCheck="{{edit_customer}}">
                <label class="form-check-label" for="flexSwitchEditCustomer">Editar un cliente</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteCustomer" name="deleteCustomer" valueCheck="{{delete_customer}}">
                <label class="form-check-label" for="flexSwitchDeleteCustomer">Eliminar un cliente</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCancelDebt" name="cancelDebt" valueCheck="{{cancel_debt}}">
                <label class="form-check-label" for="flexSwitchCancelDebt">Cancelar deuda</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchOfferLoan" name="offerLoan" valueCheck="{{offer_loan}}">
                <label class="form-check-label" for="flexSwitchOfferLoan">Ofrecer préstamo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchGetFertilizer" name="getFertilizer" valueCheck="{{get_fertilizer}}">
                <label class="form-check-label" for="flexSwitchGetFertilizer">Obtener fertilizante</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewCustomerCredits" name="viewCustomerCredits" valueCheck="{{view_customer_credits}}">
                <label class="form-check-label" for="flexSwitchViewCustomerCredits">Ver créditos del cliente</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchSendEmail" name="sendEmail" valueCheck="{{send_email}}">
                <label class="form-check-label" for="flexSwitchSendEmail">Enviar correo electrónico</label>
            </div>
        </div>
    </div>
</div>
