<div class="tab-pane fade" id="navbar-employee" role="tabpanel" aria-labelledby="navbar-employee-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-hat-chef"></i> Empleado</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddEmployee" name="addEmployee" valueCheck="{{add_employee}}">
                <label class="form-check-label" for="flexSwitchAddEmployee">Agregar un nuevo empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditEmployee" name="editEmployee" valueCheck="{{edit_employee}}">
                <label class="form-check-label" for="flexSwitchEditEmployee">Editar empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteEmployee" name="deleteEmployee" valueCheck="{{delete_employee}}">
                <label class="form-check-label" for="flexSwitchDeleteEmployee">Eliminar empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateSchedule" name="createSchedule" valueCheck="{{create_schedule}}">
                <label class="form-check-label" for="flexSwitchCreateSchedule">Crear un horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAssignSchedule" name="assignSchedule" valueCheck="{{assign_schedule}}">
                <label class="form-check-label" for="flexSwitchAssignSchedule">Asignar horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSchedule" name="viewSchedule" valueCheck="{{view_schedule}}">
                <label class="form-check-label" for="flexSwitchViewSchedule">Ver horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="createTypeUser" valueCheck="{{create_type_user}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Crear tipo de usuario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateEmployeeDepartment" name="createEmployeeDepartment" valueCheck="{{create_employee_department}}">
                <label class="form-check-label" for="flexSwitchCreateEmployeeDepartment">Crear departamento de empleado</label>
            </div>
        </div>
    </div>
</div>
