<!--
BUSSINES
UPDATE "Fud".users
	SET  point_sales='true', supplies='true', products='true', combos='true', product_department='true', product_area='true', providers='true', employees='true', schedules='false', employees_schedules='false', employee_department='true', employee_roles='true', customers='true', crm='false', ecommerce='true', ads='true', dealer='true', computer_equipment='true', sales='true', movements='true', accounting='true', edit_branch='true', settings='true', Inventory='true';


RESTAURANT
UPDATE "Fud".users
	SET  point_sales='true', supplies='true', products='false', combos='true', product_department='true', product_area='true', providers='true', employees='true', schedules='false', employees_schedules='false', employee_department='true', employee_roles='true', customers='true', crm='false', ecommerce='false', ads='false', dealer='true', computer_equipment='true', sales='true', movements='true', accounting='true', edit_branch='true', settings='true', "Inventory"='false';

CUSTOMER
UPDATE "Fud".users
	SET  point_sales='true', supplies='false', products='true', combos='false', product_department='true', product_area='true', providers='true', employees='true', schedules='false', employees_schedules='false', employee_department='true', employee_roles='true', customers='true', crm='false', ecommerce='false', ads='false', dealer='true', computer_equipment='true', sales='true', movements='true', accounting='true', edit_branch='true', settings='true', "Inventory"='true';
-->
<div class="tab-pane fade" id="navbar-employee" role="tabpanel" aria-labelledby="navbar-employee-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-user"></i> Empleado</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddEmployee" name="addEmployee" valueCheck="{{add_employee}}">
                <label class="form-check-label" for="flexSwitchAddEmployee">Agregar un nuevo empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditEmployee" name="editEmployee" valueCheck="{{edit_employee}}">
                <label class="form-check-label" for="flexSwitchEditEmployee">Editar empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteEmployee" name="deleteEmployee" valueCheck="{{delete_employee}}">
                <label class="form-check-label" for="flexSwitchDeleteEmployee">Eliminar empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateSchedule" name="createSchedule" valueCheck="{{create_schedule}}">
                <label class="form-check-label" for="flexSwitchCreateSchedule">Crear un horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAssignSchedule" name="assignSchedule" valueCheck="{{assign_schedule}}">
                <label class="form-check-label" for="flexSwitchAssignSchedule">Asignar horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSchedule" name="viewSchedule" valueCheck="{{view_schedule}}">
                <label class="form-check-label" for="flexSwitchViewSchedule">Ver horario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="employee_roles" valueCheck="{{employee_roles}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Ver tipo de usuario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="createTypeUser" valueCheck="{{create_type_user}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Crear tipo de usuario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="edit_rol_employee" valueCheck="{{edit_rol_employee}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Editar tipo de usuario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="delete_rol_employee" valueCheck="{{delete_rol_employee}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Eliminar tipo de usuario</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateTypeUser" name="employee_department" valueCheck="{{employee_department}}">
                <label class="form-check-label" for="flexSwitchCreateTypeUser">Ver departamento de empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateEmployeeDepartment" name="createEmployeeDepartment" valueCheck="{{create_employee_department}}">
                <label class="form-check-label" for="flexSwitchCreateEmployeeDepartment">Crear departamento de empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateEmployeeDepartment" name="edit_employee_department" valueCheck="{{edit_employee_department}}">
                <label class="form-check-label" for="flexSwitchCreateEmployeeDepartment">Editar departamento de empleado</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCreateEmployeeDepartment" name="delete_employee_department" valueCheck="{{delete_employee_department}}">
                <label class="form-check-label" for="flexSwitchCreateEmployeeDepartment">Eliminar departamento de empleado</label>
            </div>
        </div>
    </div>
</div>
