<div class="tab-pane fade show active" id="navbar-character" role="tabpanel" aria-labelledby="navbar-character-tab">
    <div class="card">
        <div class="card-body">
            <label><i class="fi-icon fi-sr-shield-check"></i> Información del tipo de usuario</label>
            <hr>
            <div class="row">
                <div class="col">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" name="name" required value="{{name_role}}">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Salario $</label>
                    <input type="text" class="form-control" placeholder="Salario" name="salary" required value="{{salary}}">
                </div>
                <div class="col">
                    <label for="">Moneda</label>
                    <select id="currency" class="form-control" name="currency" value="{{currency}}">
                        <option value="mx">🇲🇽 MXN &#x20B1;</option>
                    </select>
                </div>
                <div class="col">
                    <label for="">Tipo de Salario</label>
                    <select id="typeSalary" class="form-control" name="typeSalary" value="{{type_of_salary}}">
                        <option value="Minute">Minutos</option>
                        <option value="Hour">Horas</option>
                        <option value="Day">Días</option>
                        <option value="Week">Semana</option>
                        <option value="Fortnight">Quincena</option>
                        <option value="Month">Mes</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">% Descuento en productos</label>
                    <input type="text" class="form-control" placeholder="Descuento en productos" name="discount" value="{{discount_for_product}}">
                </div>
                <div class="col">
                    <label for="">% Comisiones</label>
                    <input type="text" class="form-control" placeholder="Comisiones" name="comissions" value="{{commissions}}">
                </div>
            </div>
        </div>
    </div>
</div>
{{>updateSelects}}
