<div class="tab-pane fade" id="navbar-products" role="tabpanel" aria-labelledby="navbar-products-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-hat-chef"></i> Cocina</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSupplies" name="view_supplies" valueCheck="{{view_supplies}}">
                <label class="form-check-label" for="flexSwitchViewSupplies">App Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddSupplies" name="add_supplies" valueCheck="{{add_supplies}}">
                <label class="form-check-label" for="flexSwitchAddSupplies">Agregar Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditSupplies" name="edit_supplies" valueCheck="{{edit_supplies}}">
                <label class="form-check-label" for="flexSwitchEditSupplies">Editar Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteSupplies" name="delete_supplies" valueCheck="{{delete_supplies}}">
                <label class="form-check-label" for="flexSwitchDeleteSupplies">Eliminar Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewCombo" name="view_combo" valueCheck="{{view_combo}}">
                <label class="form-check-label" for="flexSwitchViewCombo">App Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddCombo" name="add_combo" valueCheck="{{add_combo}}">
                <label class="form-check-label" for="flexSwitchAddCombo">Agregar Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditCombo" name="edit_combo" valueCheck="{{edit_combo}}">
                <label class="form-check-label" for="flexSwitchEditCombo">Editar Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteCombo" name="delete_combo" valueCheck="{{delete_combo}}">
                <label class="form-check-label" for="flexSwitchDeleteCombo">Eliminar Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchWasteReport" name="waste_report" valueCheck="{{waste_report}}">
                <label class="form-check-label" for="flexSwitchWasteReport">Reporte de Desperdicios</label>
            </div>
        </div>
    </div>
</div>
