<div class="tab-pane fade" id="navbar-products" role="tabpanel" aria-labelledby="navbar-products-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-sr-restaurant"></i> Cocina</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewSupplies" name="viewSupplies" valueCheck="{{view_supplies}}">
                <label class="form-check-label" for="flexSwitchViewSupplies">Ver Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddSupplies" name="addSupplies" valueCheck="{{add_supplies}}">
                <label class="form-check-label" for="flexSwitchAddSupplies">Agregar Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditSupplies" name="editSupplies" valueCheck="{{edit_supplies}}">
                <label class="form-check-label" for="flexSwitchEditSupplies">Editar Suministros</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteSupplies" name="deleteSupplies" valueCheck="{{delete_supplies}}">
                <label class="form-check-label" for="flexSwitchDeleteSupplies">Eliminar Suministros</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewProducts" name="viewProducts" valueCheck="{{view_products}}">
                <label class="form-check-label" for="flexSwitchViewProducts">Ver Productos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditProducts" name="editProducts" valueCheck="{{edit_products}}">
                <label class="form-check-label" for="flexSwitchEditProducts">Editar Productos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
                <label class="form-check-label" for="flexSwitchDeleteProducts">Eliminar Productos</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewCombo" name="viewCombo" valueCheck="{{view_combo}}">
                <label class="form-check-label" for="flexSwitchViewCombo">Ver Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddCombo" name="addCombo" valueCheck="{{add_combo}}">
                <label class="form-check-label" for="flexSwitchAddCombo">Agregar Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditCombo" name="editCombo" valueCheck="{{edit_combo}}">
                <label class="form-check-label" for="flexSwitchEditCombo">Editar Combo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteCombo" name="deleteCombo" valueCheck="{{delete_combo}}">
                <label class="form-check-label" for="flexSwitchDeleteCombo">Eliminar Combo</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodDepartament" name="viewFoodDepartament" valueCheck="{{view_food_departament}}">
                <label class="form-check-label" for="flexSwitchViewFoodDepartament">Ver Departamento de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddFoodDepartament" name="addFoodDepartament" valueCheck="{{add_food_departament}}">
                <label class="form-check-label" for="flexSwitchAddFoodDepartament">Agregar Departamento de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditFoodDepartament" name="editFoodDepartament" valueCheck="{{edit_food_departament}}">
                <label class="form-check-label" for="flexSwitchEditFoodDepartament">Editar Departamento de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteFoodDepartament" name="deleteFoodDepartament" valueCheck="{{delete_food_departament}}">
                <label class="form-check-label" for="flexSwitchDeleteFoodDepartament">Eliminar Departamento de Alimentos</label>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewFoodCategory" name="viewFoodCategory" valueCheck="{{view_food_category}}">
                <label class="form-check-label" for="flexSwitchViewFoodCategory">Ver Categoría de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddFoodCategory" name="addFoodCategory" valueCheck="{{add_food_category}}">
                <label class="form-check-label" for="flexSwitchAddFoodCategory">Agregar Categoría de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditFoodCategory" name="editFoodCategory" valueCheck="{{edit_food_category}}">
                <label class="form-check-label" for="flexSwitchEditFoodCategory">Editar Categoría de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteFoodCategory" name="deleteFoodCategory" valueCheck="{{delete_food_category}}">
                <label class="form-check-label" for="flexSwitchDeleteFoodCategory">Eliminar Categoría de Alimentos</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchWasteReport" name="wasteReport" valueCheck="{{waste_report}}">
                <label class="form-check-label" for="flexSwitchWasteReport">Reporte de Desperdicios</label>
            </div>
        </div>
    </div>
</div>
