<!---
<div class="card">
<div class="card-body">
    <label for=""><i class="fi-icon fi-sr-apps"></i> Apps que el usuario puede usar</label>
    <hr>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchViewProducts" name="viewProducts" valueCheck="{{view_products}}">
        <label class="form-check-label" for="flexSwitchViewProducts">Punto de venta</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditProducts" name="editProducts" valueCheck="{{edit_products}}">
        <label class="form-check-label" for="flexSwitchEditProducts">Producto</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Departamento de Productos</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Area de Productos</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Inventario</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Empleados</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Departamento de Empleados</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Area de Empleados</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Clientes</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Ventas</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Movimientos</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Reportes</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Impresoras</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Editar sucursal</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteProducts" name="deleteProducts" valueCheck="{{delete_products}}">
        <label class="form-check-label" for="flexSwitchDeleteProducts">Configuración</label>
    </div>
</div>
</div>
<hr>
--->




<div class="container">
  <div class="row">
    <div class="nav flex-column col nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<a class="nav-link active" id="navbar-character-tab" data-toggle="pill" href="#navbar-character" role="tab"
    aria-controls="navbar-character" aria-selected="true"><i class="fi-icon fi-ss-package"></i> Caracteristicas</a>

<a class="nav-link" id="navbar-branch-tab" data-toggle="pill" href="#navbar-branch" role="tab"
    aria-controls="navbar-branch" aria-selected="true"><i class="fi-icon fi-sr-store-alt"></i> Sucursal</a>

<a class="nav-link" id="navbar-employee-tab" data-toggle="pill" href="#navbar-employee" role="tab"
    aria-controls="navbar-employee" aria-selected="false"><i class="fi-icon fi-sr-user"></i>  Empleado</a>

<a class="nav-link" id="navbar-store-tab" data-toggle="pill" href="#navbar-store" role="tab"
    aria-controls="navbar-products" aria-selected="false"><i class="fi-icon fi-sr-shopping-cart"></i> Tienda</a>

<a class="nav-link" id="navbar-products-tab" data-toggle="pill" href="#navbar-products" role="tab"
    aria-controls="navbar-products" aria-selected="false"><i class="fi-icon fi-sr-hat-chef"></i> Cocina</a>


<a class="nav-link" id="navbar-customer-tab" data-toggle="pill" href="#navbar-customer" role="tab"
    aria-controls="navbar-customer" aria-selected="false"><i class="fi fi-sr-users-alt"></i> Cliente</a>

<a class="nav-link" id="navbar-sales-tab" data-toggle="pill" href="#navbar-sales" role="tab"
    aria-controls="navbar-sales" aria-selected="false"><i class="fi-icon fi-ss-label"></i> Ventas</a>

<a class="nav-link" id="navbar-history-tab" data-toggle="pill" href="#navbar-history" role="tab"
    aria-controls="navbar-history" aria-selected="false"><i class="fi-icon fi-sr-clock-three"></i> Historial</a>

<a class="nav-link" id="navbar-providers-tab" data-toggle="pill" href="#navbar-providers" role="tab"
    aria-controls="navbar-providers" aria-selected="false"><i class="fi-icon fi-ss-truck-side"></i> Proveedores</a>

<a class="nav-link" id="navbar-setting-tab" data-toggle="pill" href="#navbar-setting" role="tab"
    aria-controls="navbar-setting" aria-selected="false"><i class="fi-icon fi-ss-settings"></i> Configuración</a>


    </div>
    <div class="tab-content col" id="v-pills-tabContent">
      {{>CEO/type_employee/from}}
      {{>CEO/type_employee/branch}}
      {{>CEO/type_employee/customer}}
      {{>CEO/type_employee/employee}}
      {{>CEO/type_employee/history}}
      {{>CEO/type_employee/sales}}
      {{>CEO/type_employee/providers}}
      {{>CEO/type_employee/Kitchen}}
      {{>CEO/type_employee/store}}
      {{>CEO/type_employee/setting}}
      <hr>
      <button type="submit" class="btn btn-success btn-block" id="">Save</button>
    </div>
  </div>
</div>
