<div class="tab-pane fade" id="navbar-sales" role="tabpanel" aria-labelledby="navbar-sales-tab">
    <div class="card">
        <div class="card-body">
            <label for=""><i class="fi-icon fi-ss-label"></i> Ventas</label>
            <hr>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchSell" name="sell" valueCheck="{{sell}}">
                <label class="form-check-label" for="flexSwitchSell">Vender</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchApplyDiscount" name="applyDiscount" valueCheck="{{apply_discount}}">
                <label class="form-check-label" for="flexSwitchApplyDiscount">Aplicar Descuento</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchApplyReturns" name="applyReturns" valueCheck="{{apply_returns}}">
                <label class="form-check-label" for="flexSwitchApplyReturns">Aplicar Devoluciones</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchAddOffers" name="addOffers" valueCheck="{{add_offers}}">
                <label class="form-check-label" for="flexSwitchAddOffers">Agregar Ofertas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchEditOffers" name="editOffers" valueCheck="{{edit_offers}}">
                <label class="form-check-label" for="flexSwitchEditOffers">Editar Ofertas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDeleteOffers" name="deleteOffers" valueCheck="{{delete_offers}}">
                <label class="form-check-label" for="flexSwitchDeleteOffers">Eliminar Ofertas</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchChangeCoins" name="changeCoins" valueCheck="{{change_coins}}">
                <label class="form-check-label" for="flexSwitchChangeCoins">Cambiar Monedas</label>
            </div>
        </div>
    </div>
</div>
