<!---this code if for when the user have a subscription to ed one or is in a branch-->
{{#each branch}}
<input type="hidden" id="id_branch" value="{{id}}">
{{/each}}
{{#each branchFree}}
<input type="hidden" id="id_branch" value="{{id}}">
{{/each}}

<!--this is the table of the data of the providers-->
<div class="card">
    <div class="card-body">
        <table width="100%" border="1" class="table-information" id="table-container">
            <thead>
                <tr>
                    <th><label>Nombre/Representante</label></th>
                    <th><label>E-mail</label></th>
                    <th><label>Celular/Telefono</label></th>
                    <th><label>Dirección</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each providers}}
                    <tr id="{{name}}">
                        <td><label><strong>{{name}}/{{representative}}</strong></label></td>
                        <td><label>{{email}}</label></th>
                        <td><label>{{cell_phone}}/{{phone}}</label></td>
                        <td><label>{{business_address}}</label></td>
                        <td>
                            <button id="{{id}}" onclick="nextWeb('{{id_companies}}/{{id_branches}}/{{id}}/edit-provider')" class="btn-table-employee-edit"><i class="fi-department fi-sr-pencil"></i></button>
                            <button id="{{id}}" onclick="delete_provider('{{id_companies}}','{{id}}','{{name}}')" class="btn-table-employee-delete"><i class="fi-department fi-sr-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script src="/js/manager/providers/providers.js"></script>