<head>
<style>
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
    }
</style>
<!---this code if for when the user have a subscription to ed one or is in a branch-->
{{#each branch}}
<input type="hidden" id="id_branch" value="{{id}}">
{{/each}}
{{#each branchFree}}
<input type="hidden" id="id_branch" value="{{id}}">
{{/each}}

<div class="card">
    <div class="card-body">
        <table width="100%" border="1" class="table-information" id="table-container">
            <thead>
                <tr>
                    <th><label>Nombre/Representante</label></th>
                    <th><label>E-mail</label></th>
                    <th><label>Celular/Telefono</label></th>
                    <th><label>Dirección</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each providers}}
                    <tr id="{{name}}">
                        <td><label><strong>{{name}}/{{representative}}</strong></label></td>
                        <td><label>{{email}}</label></th>
                        <td><label>{{cell_phone}}/{{phone}}</label></td>
                        <td><label>{{business_address}}</label></td>
                        <td>
                            <button id="{{id}}" onclick="nextWeb('{{id_companies}}/{{id_branches}}/{{id}}/edit-provider')" class="btn-table-employee-edit"><i class="fi-department fi-sr-pencil"></i></button>
                            <button id="{{id}}" onclick="delete_provider('{{id_companies}}','{{id}}','{{name}}')" class="btn-table-employee-delete"><i class="fi-department fi-sr-trash"></i></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
  async function delete_provider(idCompany,idProvider,name){
    //if the user is in a branch or is with a subscription in ed one 
    const idBranch=document.getElementById('id_branch').value;
    if(idBranch){
      if(await questionMessage(`Eliminar a '${name}' 😳`,'¿Quieres eliminar a este provedor?')){
        window.location.href = `/fud/${idCompany}/${idBranch}/${idProvider}/delete-provider`;
      }
    }else{
        //if not is in a branch or in ed one, the use is in the CEO UI
      if(await questionMessage(`Eliminar a '${name}' 😳`,'¿Quieres eliminar a este provedor?')){
        window.location.href = `/fud/${idCompany}/${idProvider}/delete-provider`;
      }
    }
  }
</script>