{{#each provider}}
    <form action="/fud/{{id_companies}}/{{id_branches}}/{{id}}/edit-providers" method="POST">
        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Nombre *</label><br>
                        <input type="tex" class="form-control" name="name" placeholder="Nombre"
                            autofocus required value="{{name}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Nombre representante *</label><br>
                        <input type="tex" class="form-control" name="representative" placeholder="Representante" required value="{{representative}}">
                    </div>
                </td>
            </tr>
        </table>
        
        <div class="form-group">
            <label>E-mail</label><br>
            <input type="email" class="form-control" name="email" placeholder="E-mail" value="{{email}}">
        </div>

        <div class="form-group">
            <label>Website</label><br>
            <input type="text"  class="form-control" name="website" placeholder="website" value="{{website}}">
        </div>
        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Número de contribuyentes</label><br>
                        <input type="tex" class="form-control" name="rfc"
                            placeholder="RFC,RUT,CUIT" value="{{rfc}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>C.U.R.P</label><br>
                        <input type="tex" class="form-control" name="curp"
                            placeholder="C.U.R.P" value="{{curp}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label>Telefono</label><br>
                        <input type="tex" class="form-control" name="phone"
                            placeholder="Phone" value="{{phone}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Celular</label><br>
                        <input type="tex" class="form-control" name="cell_phone"
                            placeholder="Cell Phone" value="{{cell_phone}}">
                    </div>
                </td>
            </tr>
        </table>

        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Limite de Credito</label><br>
                        <input type="tex" class="form-control" name="creditLimit"
                            placeholder="Limite de Credito" value="{{credit_limit}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Dia de credito</label><br>
                        <input type="tex" class="form-control" name="dayCredit"
                            placeholder="Dia de credito" value="{{credit_days}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label>Categoría</label><br>
                        <input type="text"  class="form-control" name="Categoría" placeholder="Category" value="{{category}}">
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <label>Comentario</label><br>
            <textarea type="tex" class="form-control" name="comment"
                placeholder="Comentario..." value="{{comment}}"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-block">Save</button>
        </div>
</div>
<div class="content-sales">
        <div class="form-group">
            <label>Tipo proveedor</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="individual">
                <label class="form-check-label" for="inlineRadio1">Individual</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="company" checked>
                <label class="form-check-label" for="inlineRadio2">Compañía</label>
            </div>
        </div>

        <div class="form-group">
            <label>Nombre del Negocio</label><br>
            <input type="tex" class="form-control" name="businessName" placeholder="Nombre del Negocio" value="{{business_name}}">
        </div>
        <div class="form-group">
            <label>Representante</label><br>
            <input type="tex" class="form-control" name="businessRepresentative" placeholder="Representante de negocios" value="{{business_representative}}">
        </div>
        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Número de contribuyentes</label><br>
                        <input type="tex" class="form-control" name="businessCurp"
                            placeholder="RFC,RUT,CUIT" value="{{business_curp}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>R.F.C</label><br>
                        <input type="tex" class="form-control" name="businessRfc"
                            placeholder="R.F.C" value="{{business_rfc}}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label>Telefono</label><br>
                        <input type="tex" class="form-control" name="businessPhone"
                            placeholder="Telefono" value="{{business_phone}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Celular</label><br>
                        <input type="tex" class="form-control" name="businessCell_phone"
                            placeholder="Celular" value="{{business_cell_phone}}">
                    </div>
                </td>
            </tr>
        </table>
        
        <table width="100%">
            <tr>
                <td>
                    <div class="form-group">
                        <label>Dirección</label><br>
                        <input type="tex" class="form-control" name="Dirección"
                            placeholder="Cologne" value="{{business_address}}">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label>Código Postal</label><br>
                        <input type="tex" class="form-control" name="postalCode"
                            placeholder="Código Postal" value="{{business_postal_code}}">
                    </div>
                </td>
            </tr>
        </table>
    {{/each}}
    <div class="form-group">
        <button class="btn btn-success btn-block">Guardar</button>
    </div>
</form>