<br><br>
<div class="container">
    <label for=""><i class="fi-icon fi-sr-label"></i> Historial de ventas</label>
    <hr>
    <div style="overflow-y: auto; max-height: 800px;">
        <table class="table table-hover"> <!--table-bordered-->
            <colgroup>
                <col style="width: 15%;"> <!--Branch-->
                <col style="width: 20%;"> <!--Employee-->
                <col style="width: 20%;"> <!--Customer-->
                <col style="width: 15%;"> <!--ombo/Dish-->
                <col style="width: 5%;"> <!--Price-->
                <col style="width: 5%;"> <!--Amount-->
                <col style="width: 5%;"> <!--Total-->
                <col style="width: 15%;"> <!--Date-->
            </colgroup>
            <thead>
            <tr>
                <th>Sucursal</th>
                <th>Empleado</th>
                <th>Cliente</th>
                <th>Combo/Plato</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {{#each sales}}
                <tr>
                    <td>{{name_branch}}</td>
                    <td>{{employee_first_name}} {{employee_second_name}} {{employee_last_name}}</td>
                    <td>{{customer_email}}</td>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{amount}}</td>
                    <td>{{total}}</td>
                    <td>{{sale_day}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{#each dataSales}}
        {{#if id_branch}}
            <button class="btn" onclick="nextWeb('{{id_company}}/{{id_branch}}/{{oldNumberPage}}/sales')"><i class="fi-icon fi-br-angle-left"></i></button>{{pageNumber}}<button class="btn" onclick="nextWeb('{{id_company}}/{{id_branch}}/{{newNumberPage}}/sales')"><i class="fi-icon fi-br-angle-right"></i></button>
        {{else}}
            <button class="btn" onclick="nextWeb('{{id_company}}/{{oldNumberPage}}/sales-company')"><i class="fi-icon fi-br-angle-left"></i></button>{{pageNumber}}<button class="btn" onclick="nextWeb('{{id_company}}/{{newNumberPage}}/sales-company')"><i class="fi-icon fi-br-angle-right"></i></button>
        {{/if}}
    {{/each}}
</div>
<br><br><br>
