<style>
    #searchInput {
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
        font-size: 1rem;
        outline: none;
        box-shadow: none;
        transition: border-color 0.3s ease;
    }
    #searchInput:focus {
        border-color: #6c757d;
    }
    
    select {
        width: 100%;
        max-height: 200px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        font-size: 1rem;
        color: #495057;
        background-color: #ffffff;
        background-clip: padding-box;
        box-shadow: none;
        transition: border-color 0.3s ease;
    }

    select option {
        padding: 8px;
    }

    select:focus {
        border-color: #6c757d;
    }

    .display{
        display: none;
    }
</style>

<div class="form-group">
    <label for="customerName">Buscar un Cliente</label>
    <div class="search-container">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar por email...">
        <select id="clientSelect" size="8" class="form-select display">
            {{#each customers}}
                <option value="id" email="{{email}}" nameCustomer="{{first_name}} {{second_name}} {{last_name}}" phone="{{phone}}" cellPhone="{{cell_phone}}" companyName="{{company_name}}" companyAddress="{{company_address}}" website="{{website}}" contactName="{{contact_name}}" companyCellphone="{{company_cellphone}}" companyPhone="{{company_phone}}" typeCustomer="{{type_customer}}">{{email}}</option>
            {{/each}}
        </select>
    </div>
</div>


<div class="form-group">
    <label for="customerName">Nombre del Cliente *</label>
    <input type="text" class="form-control" id="customerName" placeholder="Nombre del Cliente" required maxlength="255">
</div>
<div class="form-group">
    <label for="email">Correo Electrónico *</label>
    <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="estimatedRevenue">Ingresos Estimados $</label>
            <input type="number" class="form-control" id="estimatedRevenue" placeholder="Ingresos Estimados">
        </div>
        <div class="col">
            <label for="probability">Probabilidad %</label>
            <input type="number" class="form-control" id="probability" placeholder="Probabilidad">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label for="closurePercentage">Celular</label>
            <input type="tel" class="form-control" id="phone" placeholder="Celular del cliente" maxlength="20">
        </div>
        <div class="col">
            <label for="phone">Teléfono</label>
            <input type="tel" class="form-control" id="cellPhone" placeholder="Teléfono del cliente" maxlength="20">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="notes">Notas</label>
    <textarea class="form-control" id="notes" rows="5" placeholder="Agregar notas..."></textarea>
</div>






<script>
    const searchInput = document.getElementById('searchInput');
    const clientSelect = document.getElementById('clientSelect');

    searchInput.addEventListener('keyup', function() {
        const filter = searchInput.value.toLowerCase();
        const options = clientSelect.options;

        for (let i = 0; i < options.length; i++) {
            const optionText = options[i].text.toLowerCase();
            if (optionText.includes(filter)) {
                options[i].style.display = '';
            } else {
                options[i].style.display = 'none';
            }
        }
    });

    // get the value of the option that the user selected
    clientSelect.addEventListener('change', function() {
        searchInput.textContent="";
        clientSelect.classList.add('display');

        //<option value="id"  >{{email}}</option>

        const selectedOption = clientSelect.options[clientSelect.selectedIndex];
        const idCustomer = selectedOption.value;
        const emailCustomer = selectedOption.getAttribute('email');
        const nameCustomer = selectedOption.getAttribute('nameCustomer');

        //this is for update the inputs of the cellphone and phone of the customer and the company 
        const phone = selectedOption.getAttribute('phone');
        const cellphone = selectedOption.getAttribute('cellPhone');
        const companyPhone = selectedOption.getAttribute('companyPhone');
        const companyCellphone = selectedOption.getAttribute('companyCellphone');

        document.getElementById('phone').value=phone;
        document.getElementById('cellPhone').value=cellphone;

        console.log(companyPhone)
        console.log(document.getElementById('companyPhone'))
        document.getElementById('companyPhone').value=companyPhone;
        document.getElementById('companyCellphone').value=companyCellphone;

        //this if for update the form of the company 
        const website = selectedOption.getAttribute('website');
        document.getElementById('website').value=website;

        const companyName = selectedOption.getAttribute('companyName');
        document.getElementById('companyName').value=companyName;

        const companyAddress = selectedOption.getAttribute('companyAddress');
        document.getElementById('companyAddress').value=companyAddress;

        const contactName = selectedOption.getAttribute('contactName');
        document.getElementById('contactName').value=contactName;

        //this is for update the checkbox and know if the customer is a company or a man 
        const typeCustomer=selectedOption.getAttribute('typeCustomer');
        if(typeCustomer=='true'){
            const ceckCompany=document.getElementById('company')
            if(ceckCompany) { 
                ceckCompany.checked = true;
            }
        }else{
            const checkIndividual=document.getElementById('individual')
            if(checkIndividual) { 
                checkIndividual.checked = true;
            }
        }

        //change the name of the input with the that the user search 
        const inputName=document.getElementById('customerName')
        inputName.value =nameCustomer;

        const inputEmail=document.getElementById('email')
        inputEmail.value =emailCustomer;
    })

    //this is for know if the user is in the search
    searchInput.addEventListener('focus', function() {
        clientSelect.classList.remove('display');
    });

    //this is for know if the user no is in the search 
    searchInput.addEventListener('blur', function() {
        // Esperar 1 segundo antes de ejecutar otra función
        setTimeout(function() {
            //we will see if the user not would like search a customer
            if (!clientSelect.classList.contains('display')){
                clientSelect.classList.add('display');
            }
        }, 250); // 1000 milisegundos = 1 segundo
    });

    
</script>