<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-brands/css/uicons-brands.css'>
<div class="add-column-form">
    {{#each branchFree}}
    <button id="addColumnBtn" class="btn btn-confirm-message" onclick="add_table_crm('{{id_companies}}','{{id}}')">Añadir nueva columna <i
            class="fi-icon fi-sr-square-plus"></i></button>
    {{/each}}
    {{#each company}}
    <button id="addColumnBtn" class="btn btn-confirm-message" onclick="add_table_crm('{{id}}')">Añadir nueva columna <i
            class="fi-icon fi-sr-square-plus"></i></button>
    {{/each}}
    <button id="addColumnBtn" class="btn btn-edit" onclick="updateOrderInBackend()">Guardar cambios <i class="fi-icon fi-sr-disk"></i></button>
</div>

<!--this is for the form of edit-->
{{#each branchFree}}
    <input type="hidden" value="{{id}}" id="id_branch">
    <input type="hidden" value="{{id_companies}}" id="id_company">
{{/each}}

<div class="board-wrapper">
    <div class="board" id="container-column">
        {{#each salesStage}}
            <div class="column" id="stage-{{id}}" position="{{position}}" idStage="{{id}}" nameStage="{{name}}">
                <div class="title-column">
                    <h4 id="h4-name-{{id}}">{{name}}</h4>
                    <button class="dropdown-btn"><i class="fi fi-br-menu-dots"></i></button>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a onclick="edit_name('{{id}}')" class="dropdown-item">Cambiar nombre</a></li>
                            <li><a onclick="nextStage('{{id}}')" class="dropdown-item">Mover adelante</a></li>
                            <li><a onclick="backStage('{{id}}')" class="dropdown-item">Mover atrás</a></li>
                            <li><a onclick="deleteStage('{{id}}','{{id_companies}}','{{name}}')" class="dropdown-item">Eliminar</a></li>
                        </ul>
                    </div>
                </div>
                <hr>

                {{#each prospects}}
                    <div class="task">
                        <div class="task-badge" style="background-color: #007bff;"></div>
                        <div class="task-header">
                            <span class="task-name">Eduardo Antonio Martinez Ortiz</span>
                            <button class="edit-btn"><i class="fi fi-br-menu-dots"></i></button>
                            <div class="dropdown-menu-2">
                                <ul>
                                    <li><a href="#" class="dropdown-item"><i class="fi-icon fi-ss-pencil"></i> Editar</a></li>
                                    <li><a href="#" class="dropdown-item"><i class="fi-icon fi-rs-clock-three"></i> Agendar cita</a></li>
                                    <li><a href="#" class="dropdown-item"><i class="fi-icon fi-rr-envelope"></i> Enviar mensaje</a></li>
                                    <li><a href="#" class="dropdown-item"><i class="fi-icon fi-brands-whatsapp"></i> Enviar Whatsapp</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="task-date">Contacto: 2024-08-05 Cierre: 2024-09-05</div>
                        <div class="task-progress">Ingresos Estimados: <b>$50,000</b></div>
                        <div class="products">ED Plus</div>
                        <div class="stark"><i class="fi fi-sr-star"></i><i class="fi fi-sr-star"></i><i class="fi fi-sr-star"></i></div>
                        <div class="appointment"><i class="fi-icon fi-rr-clock-three"></i></div>
                        <div class="img-employee"><img src="https://img.freepik.com/fotos-premium/retrato-mujer-dentista-consultorio-dental_10069-4969.jpg" alt=""></div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script>
    async function edit_name(id){
        const nameH=document.getElementById('h4-name-'+id); //get the h4 of the column
        const newName=await edit_name_table_crm(nameH.textContent); 

        //we will see if the new name no is null
        if (newName) {
            const columnId=document.getElementById('stage-'+id); //get the id of the column

            //we will see if this name not exist in the database
            const container = document.getElementById('container-column'); //get the container column
            const columns = Array.from(container.children);
            const order = columns.map(col => col.getAttribute('nameStage'));
            let repeat=false;
            for(var i=0;i<order.length;i++){
                if(order[i]==newName){
                    repeat=true;
                    break; 
                }
            }

            //if the new name not exist in the database, we will update
            if(!repeat){
                nameH.textContent = newName;
                columnId.setAttribute('nameStage', newName); //update the name
                await updateOrderInBackend() //update the information in the database
            }else{
                warningMessage('Error al actualizar el nombre','El nombre que intentaste ingresar ya existe en alguna tabla');
            }
        }else{
            warningMessage('Error al actualizar el nombre','El nombre que intentaste ingresar no es correcto');
        }
    }

    function nextStage(id){
        const columnId=document.getElementById('stage-'+id); //get the id of the column
        const container = document.getElementById('container-column'); //get the container column
        const columns = Array.from(container.children); //get all the columns of the column column
        const index = columns.indexOf(columnId); //get the index of the column in the array
        const newIndex = index + 1; 

        //we will see if can move the column 
        if (newIndex < columns.length) {
            //save both columns for use after
            container.insertBefore(columns[newIndex], columns[index]);
        }
    }

    function backStage(id){
        const columnId=document.getElementById('stage-'+id); //get the id of the column
        const container = document.getElementById('container-column'); //get the container column
        const columns = Array.from(container.children); //get all the columns of the column column
        const index = columns.indexOf(columnId); //get the index of the column in the array
        const newIndex = index - 1; 
 
        //we will see if can move the column 
        if (newIndex >-1) {
            //save both columns for use after
            container.insertBefore(columns[index], columns[newIndex]);
        }    
    }

    async function deleteStage(id,id_company,name){
        if(await questionMessage('Eliminar etapa de venta',`¿Deseas eliminar la etapa de venta '${name}'?`)){
            const id_branch=document.getElementById('id_branch').value;

            //we will see if the user would like delete the stage
            if(id_branch){
                window.location.href = `/fud/${id_company}/${id_branch}/${id}/delete-table-crm`;
            }else{
                window.location.href = `/fud/${id_company}/${id}/delete-table-crm`;
            }
        }
    }


    async function updateOrderInBackend() {
        //this is for get the new name of the columns
        const container = document.getElementById('container-column');
        const columns = Array.from(container.children);
        const order = columns.map(col => col.getAttribute('nameStage'));

        //this is for get the id of the columns
        const ids = columns.map(col => col.getAttribute('idStage'));

        //create the body that send to the server
        const requestBody = {
            order: order,
            ids: ids
        };

        //show the load window
        document.getElementById('loading-screen').style.display = 'flex';

        try {
            const response = await fetch('/fud/update-stage-columns', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            });

            //we will see if the answer of th server
            if (response.ok) {
                const responseData = await response.json();
                notificationMessage('CRM actualizado con éxito', 'Tus propuestas fueron actualizadas con éxito');
            } else {
                errorMessage('Error al actualizar CRM', 'Hubo un error al intentar actualizar tus propuestas');
            }
        } catch (error) {
            errorMessage('Error al actualizar CRM', 'Hubo un error al intentar actualizar tus propuestas');
        } finally {
            // hidden the load window
            document.getElementById('loading-screen').style.display = 'none';
        }
    }

</script>
