<!---
    we will see if the user is edit a prospect or is create a new prospect.
    if exist {{prospect}}, we know that the user is edit a prospect,
    if not exist {{prospect}}, we know that the user is create a new prospect
--->
{{#if customer}}
    <nav class="crm-list-navbar">
        {{#each salesStage}}
            <div class="crm-list-navbar-item" onclick="change_sales_stage('{{id}}')">
                <div class="box" id="box-{{id}}" idSalesStage="{{id}}">
                    <span>{{name}}</span>
                </div>
            </div>
        {{/each}}
        {{#each customer}}
        <input type="hidden" name="id_sales_stage" id="positionSalesStage" value="{{id_sales_stage}}" required>
        {{/each}}
    </nav>
{{else}}
    <nav class="crm-list-navbar">
        {{#each salesStage}}
            <div class="crm-list-navbar-item" onclick="change_sales_stage('{{id}}')">
                <div class="box" id="box-{{id}}" idSalesStage="{{id}}">
                    <span>{{name}}</span>
                </div>
            </div>
        {{/each}}
        <input type="hidden" name="id_sales_stage" id="positionSalesStage" required>
    </nav>
{{/if}}
<script>
    /*--------
        this is for that the user can change and activate
        the sales stage that the would like on
    -------*/
    function change_sales_stage(id){
        // get all the divs with the class 'box'
        const boxes = document.querySelectorAll('div.box');

        // Iterate over each div and remove the 'box-activate' class
        boxes.forEach(box => {
            box.classList.remove('box-activate');
        });
        
        //add the class box-activate to the div that the user on
        const div=document.getElementById('box-'+id)
        div.classList.add('box-activate');

        //change the value of the input positionSalesStage
        const input = document.getElementById('positionSalesStage');
        input.value=id;
    }


    /*--------
        this is for that when the user inside to the web, 
        the first sales stage will activate
    -------*/
    //get all the divs with the class 'box'
    const boxes = document.querySelectorAll('div.box');

    // get the first div of the list
    const firstBox = boxes[0];

    //if exist a divs, we will add the class box-activate
    if (firstBox) {
        /*
        we will see if the user is edit a prospect. If the value of <saleStage> 
        is greater than, we will know that the user is edit a prospect
        */
        const input = document.getElementById('positionSalesStage');
        const value=input.value;
        if(input.value>0){
            change_sales_stage(input.value)
        }else{
            const idSalesStage = firstBox.getAttribute('idSalesStage');
            change_sales_stage(idSalesStage)
            firstBox.classList.add('box-activate');
        }
    }



</script>



