    <link rel="stylesheet" href="/css/addUser/addUser.css">
        <div class="row">
            <div class="mx-auto">
                <div class="card">
                    <div class="card-body">
                        {{#each dataCompany}}
                        <form action="/fud/{{id}}/edit-company" method="POST" enctype="multipart/form-data" id="myForm">
                        {{/each}}

                        <!--this is for when the user have a subscription to ONE-->
                        {{#each branchFree}}
                        <input type="hidden" value="{{id}}" name="id_branch">
                        {{/each}}


                        {{#each dataCompany}}
                            <div class="form-group">
                                <center>
                                    {{#if path_logo}}
                                        <img src="{{path_logo}}" class="logoCompany" id="imgEmployee">
                                    {{else}}
                                        <img src="https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png" class="logoCompany" id="imgEmployee">
                                    {{/if}}
                                </center>
                            </div>
                            <div class="form-group">
                                <input type="file" name="image" accept="image/*" class="form-control" id="inputImg" value="{{path_logo}}">
                            </div>
                            <div class="form-group">
                                <lable>Nombre empresa *</lable><br>
                                <input type="tex" class="form-control" name="name" placeholder="Nombre empresa" value="{{name}}" maxlength="50" pattern="^\S{0,50}$" autofocus required>
                            </div>
                            <div class="form-group">
                                <lable>Alias *</lable><br>
                                <input type="tex" class="form-control" name="alias" placeholder="Alias" value="{{alias}}" maxlength="10" pattern="^\S{0,10}$" required>
                            </div>
                            <div class="form-group">
                                <lable>Descripcion</lable><br>
                                <textarea class="form-control" name="description" placeholder="Descripcion" rows="2" maxlength="100" pattern="^\S{0,100}$">{{description}}</textarea>
                            </div>
                            <div class="form-group">
                                <lable>Representante *</lable><br>
                                <input type="tex" class="form-control" name="representative" placeholder="Representante" value="{{representative}}" maxlength="50" pattern="^\S{0,50}$" required>
                            </div>
                            <div class="form-group">
                                <lable>Telefono</lable><br>
                                <input type="tex" class="form-control" name="phone" placeholder="Telefono" value="{{phone}}" maxlength="16" pattern="^\S{0,16}$">
                            </div>
                            <div class="form-group">
                                <lable>Celular</lable><br>
                                <input type="tex" class="form-control" name="cell_phone" placeholder="Celular" value="{{cell_phone}}" maxlength="16" pattern="^\S{0,16}$">
                            </div>
                            <div class="form-group">
                                <lable>Email *</lable><br>
                                <input type="email" class="form-control" name="email" placeholder="Email" value="{{email_company}}" maxlength="100" pattern="^\S{0,100}$" required>
                            </div>   
                            {{/each}}


                            {{>country}}

                            {{#each dataCompany}}
                                <div class="form-group">
                                    <lable>Municipio *</lable><br>
                                    <input type="tex" class="form-control" name="municipality" value="{{municipality}}" placeholder="Municipio" required>
                                </div>
                                <div class="form-group">
                                    <lable>Ciudad *</lable><br>
                                    <input type="tex" class="form-control" name="city" placeholder="Ciudad" value="{{city}}" required>
                                </div>
                                <div class="form-group">
                                    <lable>Colonia *</lable><br>
                                    <input type="tex" class="form-control" name="cologne" placeholder="Colonia" value="{{cologne}}" required>
                                </div>
                                <div class="form-group">
                                    <lable>Calle *</lable><br>
                                    <input type="tex" class="form-control" name="street" placeholder="Calle" value="{{states}}" maxlength="20" pattern="^\S{0,20}$" required>
                                </div>
                                <div class="form-group">
                                    <lable>Numero Ext.</lable><br>
                                    <input type="tex" class="form-control" name="num_o" placeholder="Numero Ext." value="{{num_ext}}" maxlength="5" pattern="^\S{0,5}$">
                                </div>
                                <div class="form-group">
                                    <lable>Numero Int.</lable><br>
                                    <input type="tex" class="form-control" name="num_i" placeholder="Numero Int." value="{{num_int}}" maxlength="5" pattern="^\S{0,5}$">
                                </div>
                                <div class="form-group">
                                    <lable>Codigo Postal *</lable><br>
                                    <input type="tex" class="form-control" name="postal_code" placeholder="Codigo Postal" value="{{postal_code}}" pattern="[0-9]{5}" required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit">Actualizar</button>
                                </div>
                            {{/each}}
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <script src="/js/manager/addEmployee.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="js/chosen.jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select").chosen({ no_results_text: 'No hay resultados para ' });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Seleccionar todas las imágenes con la clase "company-logo"
            $(".logoCompany").each(function () {
                var img = $(this);

                // Crear una nueva imagen para verificar la existencia
                var tempImg = new Image();
                tempImg.src = img.attr("src");

                // Verificar si la imagen se cargó correctamente
                tempImg.onload = function () {
                    // La imagen existe, no se necesita hacer nada
                };

                tempImg.onerror = function () {
                    // La imagen no existe, cambiar la fuente a la imagen predeterminada
                    img.attr("src", "https://cdn.pixabay.com/photo/2017/01/25/17/35/picture-2008484_1280.png");
                };
            });
        });
    </script>