<!--carousel ad-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {{#each offerAd}}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{index}}" class="active" aria-current="true" aria-label="Slide {{index}}"></button>
    {{/each}}
  </div>
  <div class="carousel-inner box-carousel-promo">
    {{#if offerAd}}
      {{#each offerAd}}
        <div class="carousel-item active div-carousel-promo">
          {{#if img}}
              <img src="{{img}}" class="img-carousel-promo" alt="...">
          {{else}}
              <img class="img-carousel-promo" alt="..." src="/img/offer-menu.webp">
          {{/if}}
        </div>
      {{/each}}
    {{else}}
      <div class="carousel-item active div-carousel-promo"><img class="img-carousel-promo" alt="..." src="/img/offer-menu.webp"></div>
      <div class="carousel-item active div-carousel-promo"><img class="img-carousel-promo" alt="..." src="/img/offer-menu.webp"></div>
    {{/if}}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
