<br><br>
<div class="container">
    <label for=""><i class="fi-icon fi-sr-money-from-bracket"></i> Historia de los movimientos</label>
    <hr>
    <div style="overflow-y: auto; max-height: 800px;">
        <table class="table table-hover"> <!--table-bordered-->
            <colgroup>
                <col style="width: 20%;"> <!--Branch-->
                <col style="width: 25%;"> <!--Employee-->
                <col style="width: 10%;"> <!--Move-->
                <col style="width: 25%;"> <!--Comment-->
                <col style="width: 20%;"> <!--Date-->
            </colgroup>
            <thead>
            <tr>
                <th>Sucursal</th>
                <th>Empleado</th>
                <th>Movimiento</th>
                <th>Comentario</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {{#each movements}}
                <tr>
                    <td>{{name_branch}}</td>
                    <td>{{employee_first_name}} {{employee_second_name}} {{employee_last_name}}</td>
                    <td>{{move}}</td>
                    <td>{{comment}}</td>
                    <td>{{date_move}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{#each dataMovent}}
        {{#if id_branch}}
            <button class="btn" onclick="nextWeb('{{id_company}}/{{id_branch}}/{{oldNumberPage}}/movements')"><i class="fi-icon fi-br-angle-left"></i></button>{{pageNumber}}<button class="btn" onclick="nextWeb('{{id_company}}/{{id_branch}}/{{newNumberPage}}/movements')"><i class="fi-icon fi-br-angle-right"></i></button>
        {{else}}
            <button class="btn" onclick="nextWeb('{{id_company}}/{{oldNumberPage}}/movements')"><i class="fi-icon fi-br-angle-left"></i></button>{{pageNumber}}<button class="btn" onclick="nextWeb('{{id_company}}/{{newNumberPage}}/sales-company')"><i class="fi-icon fi-br-angle-right"></i></button>
        {{/if}}
    {{/each}}
</div>
<br><br><br>
