{{#each branch}}
    <form action="/fud/{{id_companies}}/{{id}}/ad-new" method="POST" enctype="multipart/form-data">
        <div class="col">
            <label>Image (2,000x400)</label><br>
            <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage-2">
            <input type="file" accept="image/*" id="uploadInput-2" style="display: none;" onchange="previewFile(-2)" name="image">
            <button type="button" class="btn" onclick="document.getElementById('uploadInput-2').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
            <button type="send" class="btn"><i class="fi-icon fi-sr-square-plus"></i> Add</button>
        </div>
    </form>
{{/each}}
{{#each branchFree}}
    <form action="/fud/{{id_companies}}/{{id}}/ad-new" method="POST" enctype="multipart/form-data">
        <div class="col">
            <label>Image (2,000x400)</label><br>
            <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage-2">
            <input type="file" accept="image/*" id="uploadInput-2" style="display: none;" onchange="previewFile(-2)" name="image">
            <button type="button" class="btn" onclick="document.getElementById('uploadInput-2').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
            <button type="send" class="btn"><i class="fi-icon fi-sr-square-plus"></i> Add</button>
        </div>
    </form>
{{/each}}

<hr>
<div class="row">
    <label>All the image of the carousel</label><br>
    {{#each newAd}}
        <form action="/fud/{{id_companies}}/{{id_branches}}/{{id}}/update-ad-offer" method="POST" enctype="multipart/form-data">
            <div class="col">
                {{#if img}}
                    <img src="{{img}}" alt="" class="img-carousel" id="previewImage{{id}}">
                {{else}}
                    <img src="/img/ad.png" alt="" class="img-carousel" id="previewImage{{id}}">
                {{/if}}

                <input type="file" accept="image/*" id="uploadInput{{id}}" style="display: none;" onchange="previewFile('{{id}}')" name="image">
                <button type="button" class="btn" onclick="document.getElementById('uploadInput{{id}}').click()"><i class="fi-icon fi-br-upload"></i> Upload</button>
                <button type="send" class="btn"><i class="fi-icon fi-rr-refresh"></i> Update</button>
                <button type="button" class="btn" onclick="delete_ad('{{id_companies}}','{{id_branches}}','{{id}}')"><i class="fi-icon fi-sr-trash"></i> Delete</button>
            </div>
        </form>
    {{/each}}
</div>
