{{>cfdi/selectCFDI}}
               



<div class="row">
  <div class="col-6">
      <label for="regimenFiscal">Régimen Fiscal *</label>
      <input type="text" class="form-control" id="regimenFiscalReceptor" placeholder="Ej. 601" required value="601" value="{{firstDataFacture.fiscalRegime}}">
  </div>
  <div class="col-6">
      <label for="codigoPostal">Código Postal *</label>
      <input type="text" class="form-control" id="codigoPostal" value="{{firstDataFacture.postal_code}}" placeholder="Ej: 06700">
  </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label for="rfcReceptor">RFC del Cliente *</label>
        <input type="text" class="form-control" id="rfcReceptor" required value="XAXX010101000" value="{{firstDataFacture.rfc}}">
    </div>
    <div class="col-md-6">
        <label for="nombreReceptor">Nombre o Razón Social *</label>
        <input type="text" class="form-control" id="nombreReceptor" value="{{firstDataFacture.company_name}}">
    </div>
</div>
<br>







                <!-- Dirección del Receptor -->
<div class="dropdown-toggle-box">
    <div class="dropdown-header" onclick="watch_most('addressSectionForm')">
        <label class="mb-0 fw-semibold">Domicilio</label>
        <i class="fi fi-rr-angle-down" id="icon-addressSection"></i>
    </div>

    <!-- Contenido oculto con animación -->
    <div id="addressSectionForm" class="dropdown-content collapsed">

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="calleReceptor">Calle</label>
          <input type="text" class="form-control" id="calleReceptor" value="{{firstDataFacture.street}}" placeholder="Ej: Insurgentes Sur" >
        </div>

        <div class="col-md-3 mb-3">
          <label for="numeroExteriorReceptor">Número Exterior</label>
          <input type="text" class="form-control" id="numeroExteriorReceptor" value="{{firstDataFacture.num_e}}" placeholder="Ej: 123" >
        </div>

        <div class="col-md-3 mb-3">
          <label for="numeroInteriorReceptor">Número Interior</label>
          <input type="text" class="form-control" id="numeroInteriorReceptor" value="{{firstDataFacture.num_i}}" placeholder="Ej: A">
        </div>

        <div class="col-md-6 mb-3">
          <label for="coloniaReceptor">Colonia</label>
          <input type="text" class="form-control" id="coloniaReceptor" value="{{firstDataFacture.company_address}}" placeholder="Ej: Roma Norte" >
        </div>

        <div class="col-md-6 mb-3">
          <label for="municipioReceptor">Municipio / Delegación</label>
          <input type="text" class="form-control" id="municipioReceptor" value="{{firstDataFacture.state}}" placeholder="Ej: Cuauhtémoc" >
        </div>

        <div class="col-md-6 mb-3">
          <label for="estadoReceptor">Estado</label>
          <input type="text" class="form-control" id="estadoReceptor" value="{{firstDataFacture.state}}" placeholder="Ej: Ciudad de México" >
        </div>

        <div class="col-md-3 mb-3">
          <label for="paisReceptor">País</label>
          <input type="text" class="form-control" id="paisReceptor" value="{{firstDataFacture.country}}">
        </div>
      </div>



    </div>
</div>

