{{#each dataTicketOld.current_ticket}}
<h6>{{this.name}}</h6>
<label for="">{{this.barcode}}</label>
<div class="table-responsive">
    <table id="tabla-productos" class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Esta retenido</th>
            </tr>
        </thead>
        <tbody id="table-tax-{{barcode}}">
            {{#each this.taxes}}
            <tr>
                <td>{{name}}</td>
                <td>{{taxId}}</td>
                <td>{{rate}}</td>
                <td>{{is_retention}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/each}}