<label class="mb-3">🧾 Productos a facturar</label>
<div class="table-responsive">
    <table id="tabla-productos" class="tabla-productos-sales  table table-hover">
        <thead>
            <tr>
                <th>Calve SAT</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio con Impuestos</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataTicketOld.current_ticket}}
            <tr>
                <td>{{this.sat_key}}</td>
                <td>{{this.name}}</td>
                <td>{{this.barcode}}</td>
                <td class="cantidad">{{this.quantity}}</td>
                <td class="priceWithoutTaxes">{{this.priceWithoutTaxes}}</td>
                <td class="precio">{{this.price}}</td>
                <td class="total"></td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr style="background: #e9e9e9;">
                <td colspan="6" style="text-align: right;"><strong>Total General:</strong></td>
                <td id="total-general"><strong>$ {{dataTicketOld.total}}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
