
<table class="table table-hover"> <!--table-bordered-->
    <colgroup>
        <col style="width: 40%;">
        <col style="width: 40%;">
        <col style="width: 20%;">
    </colgroup>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each departments}}
        <tr>
            <td>{{name_departaments}}</td>
            <td>{{description}}</td>
            <td>
                <button class="btn btn-danger" id="{{id}}" onclick="delete_departament(this.id,'{{id_companies}}')"><i class="fi-department fi-sr-trash"></i></button>
                <button class="btn btn-edit" id="{{id}}" onclick="edit_departament(this.id,'{{id_companies}}','{{name_departaments}}','{{description}}')"><i class="fi-department fi-sr-pencil"></i></button>            
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>